Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors, @RG-ISBD-editors, @RG-TEST-editors

.github/CODEOWNERS:

/standards/ISBDM/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/LRM/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors
/standards/isbd/** @RG-ISBD-editors


/standards/test/** @RG-TEST-editors

add vercel.json
  vercel.json
Owners: none

plannning docs
  developer_notes/admin-architecture-implementation-plan.md
  environment-simplification-plan.md
  next-steps-repository-setup.md
Owners: none

Add missing globals dependency for ESLint
  package.json
  pnpm-lock.yaml
Owners: none

Add missing globals dependency
  package.json
  pnpm-lock.yaml
Owners: none

chore: update pnpm-lock.yaml with new dependencies and overrides
  package.json
  pnpm-lock.yaml
Owners: none

chore: update integration tests and add vocabulary comparison tests
  .gitignore
  apps/admin/src/app/lib/auth.ts
  apps/admin/src/test/fixtures/mockData.ts
  apps/admin/src/test/integration/site-management.integration.test.tsx
  packages/theme/package.json
  packages/theme/src/components/VocabularyTable/__tests__/multilingual-vocabulary.test.tsx
  packages/theme/src/hooks/index.ts
  packages/theme/src/tests/__mocks__/CodeBlock.tsx
  packages/theme/src/tests/__mocks__/DocusaurusLinkMock.tsx
  packages/theme/src/tests/__mocks__/Heading.tsx
  packages/theme/src/tests/__mocks__/TabItem.tsx
  packages/theme/src/tests/__mocks__/tabs.tsx
  packages/theme/src/tests/components/ElementReference-improved.test.tsx
  packages/theme/src/tests/components/ElementReference.test.tsx
  packages/theme/src/tests/components/InLink-improved.test.tsx
  packages/theme/src/tests/components/InLink.test.tsx
  packages/theme/src/tests/components/VocabularyTable-improved.test.tsx
  packages/theme/src/tests/config/siteConfig.test.ts
  packages/theme/src/tests/fixtures/elements/html_to_mdx_Gemini.js
  packages/theme/src/tests/fixtures/userInteractions.ts
  packages/theme/src/tests/fixtures/vocabularyData.ts
  packages/theme/src/tests/scripts/vocabulary-comparison-cli.test.ts
  packages/theme/src/tests/scripts/vocabulary-comparison-rdfs.test.ts
  packages/theme/src/tests/scripts/vocabulary-comparison.test.ts
  packages/theme/src/tests/scripts/vocabulary-comparison.test.ts 
  pnpm-lock.yaml
  scripts/utils/site-config-utils.js
  vite.config.ts
Owners: none

refactor: replace `<p>` tags with `<div>` for improved styling consistency
  apps/admin/src/app/lib/auth.ts
  standards/ISBDM/docs/index.mdx
  standards/isbd/docs/index.mdx
  standards/isbd/src/pages/index.tsx.bak
Owners: @RG-ISBDM-editors, @RG-ISBD-editors

refactor: improve typing for NextAuth export in admin auth library
  apps/admin/src/app/lib/auth.ts
Owners: none

refactor: update paths and URLs for documentation structure and alignment
  apps/admin/src/app/lib/auth.ts
  standards/FRBR/docs/index.mdx
  standards/LRM/docs/examples.md
  standards/LRM/docs/index.mdx
  standards/LRM/docs/intro/index.mdx
  standards/muldicat/docs/index.mdx
  standards/muldicat/src/pages/index.tsx
  standards/newtest/docusaurus.config.ts
  standards/unimarc/docs/index.mdx
Owners: @RG-LRM-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

update preview URLs in siteConfig.ts for new branch naming convention
  packages/theme/src/config/siteConfig.ts
  packages/theme/src/tests/config/siteConfig.test.ts
Owners: none

chore: update naming conventions and configurations for `platform`
  .github/workflows/ci-preview-legacy.yml
  .github/workflows/deploy-dev-legacy.yml
  .github/workflows/development-deploy.yml
  .github/workflows/preview-ci.yml
  .github/workflows/test-site-builds-legacy.yml
  .github/workflows/test-site-builds.yml
  CLAUDE.md
  docs/architecture/dual-ci-architecture.md
  package.json
  packages/theme/src/config/siteConfig.ts
  packages/theme/src/tests/config/siteConfig.test.ts
  packages/theme/src/tests/utils/workspaceUtils.test.ts
  packages/theme/src/tests/utils/workspaceUtils.ts
  project.json
Owners: none

chore: remove `development` environment, update DOCS_ENV validation, and improve formatting
  .github/workflows/development-deploy.yml
  e2e/docs-env-validation.spec.ts
  e2e/environment-fallback.spec.ts
  package.json
  packages/theme/src/config/siteConfig.ts
  packages/theme/src/tests/config/siteConfig.test.ts
  portal/docusaurus.config.ts
  scripts/build-with-env.js
  scripts/site-template.ts
  standards/FRBR/docusaurus.config.ts
  standards/ISBDM/docusaurus.config.ts
  standards/LRM/docusaurus.config.ts
  standards/isbd/docusaurus.config.ts
  standards/muldicat/docusaurus.config.ts
  standards/muldicat/project.json
  standards/newtest/docusaurus.config.ts
  standards/unimarc/docusaurus.config.ts
Owners: @RG-ISBDM-editors, @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

chore: update testing documentation and add comprehensive vocabulary lifecycle architecture plan
  .gitignore
  developer_notes/admin-architecture-implementation-plan.md
  developer_notes/vocabulary-lifecycle-architecture.md
Owners: none

update executive briefing
  developer_notes/executive-briefing-ifla-platform-transformation.md
  developer_notes/executive-briefing-narrative.md
Owners: none

chore: implement admin SPA components and routing
  apps/admin/next.config.js
  packages/theme/src/components/AdminRouter/AdminDashboard.tsx
  packages/theme/src/components/AdminRouter/LoginPrompt.tsx
  packages/theme/src/components/AdminRouter/index.tsx
  packages/theme/src/components/index.ts
  packages/theme/src/config/siteConfig.ts
  portal/docusaurus.config.ts
  portal/plugins/admin-routes-plugin.js
  test-admin-spa.js
  test-admin-spa.md
Owners: none

chore: remove outdated test scripts and add admin portal docs
  apps/admin/.env
  apps/admin/next.config.js
  apps/admin/src/app/components/docusaurus-navbar.tsx
  apps/admin/src/app/dashboard/page.tsx
  apps/admin/src/app/hooks/useInactivityLogout.ts
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/lib/auth.ts
  apps/admin/src/app/lib/role-based-routing.ts
  apps/admin/src/test/integration/cors.test.ts
  developer_notes/README.md
  developer_notes/admin-architecture-implementation-plan.md
  developer_notes/admin-portal-authentication-architecture.md
  developer_notes/admin-spa-architecture.md
  docs/README.md
  docs/admin-portal.md
  package.json
  packages/theme/src/config/siteConfig.ts
  scripts/demo-admin-simple.js
  scripts/test-admin-roles.js
  test-admin-spa.js
  test-admin-spa.md
  test-mvp-auth.md
  test-mvp-flow.md
  test_admin_oauth.js
  test_cors_fix.js
  test_nextauth_fix_verification.js
  test_nextauth_url_config.js
  test_oauth_callback.js
Owners: none

chore: remove admin pages, plugins, and tests for deprecated features
  AGENTS.md
  CLAUDE.md.dirty
  apps/admin/docs/server-dependent-testing.md
  apps/admin/middleware.ts
  apps/admin/package.json
  apps/admin/project.json
  apps/admin/src/app/api/auth/session/route.ts
  apps/admin/src/test/integration/cors.test.ts
  apps/admin/src/test/integration/server-dependent/README.md
  apps/admin/src/test/integration/server-dependent/admin-startup-test.test.ts
  apps/admin/src/test/integration/server-dependent/basic-server-test.test.ts
  apps/admin/src/test/integration/server-dependent/cors-integration.test.ts
  apps/admin/src/test/integration/server-dependent/cross-site-auth.test.ts
  apps/admin/src/test/integration/server-dependent/simple-spawn-test.test.ts
  apps/admin/src/test/integration/server-dependent/spawn-test.test.ts
  apps/admin/src/test/setup-server-dependent.ts
  apps/admin/src/test/utils/test-server-manager.ts
  apps/admin/src/tests/api/scaffold/route.test.ts
  apps/admin/vitest.config.server-dependent.ts
  apps/admin/vitest.config.ts
  docs/server-dependent-testing-summary.md
  eslint.config.mjs
  pnpm-lock.yaml
  portal/docusaurus.config.ts
  portal/plugins/admin-routes-plugin.js
  portal/src/pages/admin-dashboard.tsx
  portal/src/pages/admin-dashboard/isbd.tsx
  portal/src/pages/admin-dashboard/newtest.tsx
  portal/src/pages/admin.tsx
  portal/src/pages/dashboard/index.tsx
  portal/src/pages/editor-dashboard/newtest.tsx
  tsconfig.json
Owners: none

test(admin): add comprehensive authentication and authorization tests
  apps/admin/src/app/lib/auth.ts
  apps/admin/src/app/lib/mock-auth.ts
  apps/admin/src/test/lib/auth.test.ts
  apps/admin/src/test/lib/cerbos.test.ts
  apps/admin/src/test/lib/github-oauth.test.ts
  apps/admin/src/test/lib/mock-auth.test.ts
  apps/admin/src/test/lib/namespace-permissions.test.ts
  apps/admin/src/test/lib/rbac.test.ts
  apps/admin/src/test/lib/review-group-authorization.test.ts
  apps/admin/src/test/lib/session-management.test.ts
Owners: none

chore: update URLs and configurations for platform migration
  .env.production
  package.json
  standards/newtest/docusaurus.config.ts
Owners: none

chore: reintroduce admin pages and middleware with Clerk integration
  .gitignore
  apps/admin/.env
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/sign-in/[[...sign-in]]/page.tsx
  apps/admin/src/app/sso-callback/[[...sso-callback]]/page.tsx
  apps/admin/src/app/test-clerk/page.tsx
  apps/admin/src/middleware.ts
Owners: none

chore: add mock authentication and Clerk integration utilities for admin portal
  apps/admin/docs/CLERK_GITHUB_ADMIN_SETUP.md
  apps/admin/docs/CLERK_SETUP_GUIDE_extra.md
  apps/admin/src/app/components/docusaurus-navbar.css
  apps/admin/src/app/components/docusaurus-navbar.tsx
  apps/admin/src/app/dashboard/[siteKey]/SiteManagementClient.tsx
  apps/admin/src/app/dashboard/[siteKey]/page.tsx
  apps/admin/src/app/dashboard/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/lib/mock-auth.ts
  apps/admin/src/lib/get-portal-url.ts
  apps/admin/src/test/integration/server-dependent/basic-server-test.test.ts
  apps/admin/src/test/lib/mock-auth.test.ts
  apps/admin/src/test/utils/mock-clerk-auth.ts
  apps/admin/src/test/utils/test-server-manager.ts
  apps/admin/src/test/utils/test-utils.tsx
Owners: none

chore: introduce comprehensive theme system for admin portal
  apps/admin/package.json
  apps/admin/src/app/dashboard/AdminDashboard.tsx
  apps/admin/src/app/dashboard/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/contexts/theme-context.tsx
  apps/admin/src/theme/mui-theme.ts
  apps/admin/src/theme/theme-augmentation.d.ts
  developer_notes/executive-briefing-ifla-platform-transformation.md
  developer_notes/executive-briefing-narrative.md
  developer_notes/teams-and-review-groups-structure.md
  pnpm-lock.yaml
Owners: none

chore: add developer notes for authentication, authorization, and project structure
  apps/admin/src/app/dashboard/AdminDashboard.tsx
  developer_notes/authentication-authorization-architecture.md
  developer_notes/clerk-cerbos-integration-plan.md
  developer_notes/executive-briefing-ifla-platform-transformation.md
  developer_notes/executive-briefing-narrative.md
  developer_notes/projects-teams-and-review-groups-structure.md
Owners: none

chore: add implementation plans for data storage architecture and vocabulary management UI
  developer_notes/data-storage-architecture.md
  developer_notes/vocabulary-management-ui-implementation-plan.md
Owners: none

update executive briefing
  developer_notes/executive-briefing-narrative.md
Owners: none

add mock-github
  package.json
  pnpm-lock.yaml
Owners: none

add nextjs coding standards
  developer_notes/NEXTJS_CODING_STANDARDS.MD
Owners: none

fix: correct basePath handling in admin app navigation
  apps/admin/src/app/dashboard/rg/ReviewGroupDashboard.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/components/welcome/WelcomePage.tsx
Owners: none

fix: resolve all linting errors in admin app
  apps/admin/src/app/import/ImportWorkflow.tsx
  apps/admin/src/app/namespaces/NamespacesList.tsx
  apps/admin/src/app/namespaces/[namespace]/NamespaceDashboard.tsx
  apps/admin/src/app/profiles/ProfilesManager.tsx
  apps/admin/src/components/vocabulary/SpreadsheetViewer.tsx
Owners: none

chore: document GitHub tools and services integration
  CLAUDE.md
Owners: none

chore: remove unused ProtectedRoute component tests
  apps/admin/src/app/lib/role-based-routing.ts
  apps/admin/src/app/namespaces/[namespace]/NamespaceDashboard.tsx
  apps/admin/src/app/profiles/ProfilesManager.tsx
  apps/admin/src/lib/mock-data/validation.ts
  apps/admin/src/test/components/SiteManagementClient.test.tsx
  apps/admin/src/test/integration/server-dependent/basic-server-test.test.ts
  apps/admin/src/test/integration/server-dependent/cors-integration.test.ts
  apps/admin/src/test/integration/server-dependent/cross-site-auth.test.ts
  apps/admin/src/test/lib/cerbos.test.ts
  apps/admin/src/test/lib/rbac.test.ts
  apps/admin/src/test/lib/review-group-authorization.test.ts
  apps/admin/src/test/lib/session-management.test.ts
  apps/admin/src/test/utils/test-server-manager.ts
  developer_notes/architectural-analysis-2025-07.md
  package.json
  packages/theme/src/components/ElementReference/index.tsx
  packages/theme/src/components/VocabularyTable/VocabularyTable.tsx
  packages/theme/src/components/VocabularyTable/types.ts
  packages/theme/src/config/siteConfig.ts
  packages/theme/src/hooks/index.ts
  packages/theme/src/tests/components/ProtectedRoute.test.tsx
  packages/theme/src/types/google-sheets.ts
  packages/theme/src/types/index.ts
  pnpm-lock.yaml
  scripts/vocabulary-comparison.d.mts
  tools/sheet-sync/src/index.test.ts
  tools/sheet-sync/src/index.ts
  types/google-sheets.ts
Owners: none

feat: implement comprehensive performance optimizations for Nx monorepo
  .github/dependabot.yml
  .github/workflows/nx-optimized-preview.yml
  .github/workflows/nx-optimized-production.yml
  .github/workflows/nx-pr-validation.yml
  .gitignore
  .npmrc
  .npmrc.ci
  .npmrc.example
  CLAUDE.md
  developer_notes/architectural-analysis-2025-07.md
  developer_notes/jetbrains-ide-setup.md
  developer_notes/nx-cloud-setup.md
  developer_notes/nx-cloud-token-upgrade.md
  jetbrains.config.js
  nx-cloud.env.template
  nx.json
  package.json
  pnpm-lock.yaml
  scripts/create-unified-build.js
  scripts/health-check.js
  scripts/optimize-nx-performance.js
  vercel.json
Owners: none

fix: exclude IDE directories from TypeScript and ESLint checks
  eslint.config.mjs
  project.json
  tsconfig.json
Owners: none

feat: create flexible pre-commit hook that allows warnings
  .precommitrc.json
  package.json
  scripts/pre-commit-check.js
Owners: none

feat: implement comprehensive layered testing strategy
  .husky/pre-push
  .prepushrc.json
  CLAUDE.md
  eslint.config.mjs
  package.json
  scripts/explain-testing-strategy.js
  scripts/pre-commit-check.js
  scripts/pre-push-check.js
  scripts/test-linting-rules.js
  tsconfig.test.json
Owners: none

feat: comprehensive admin platform documentation and authorization framework
  apps/admin/src/app/api/admin/namespaces/route.ts
  apps/admin/src/lib/authorization.ts
  apps/admin/tsconfig.json
  cerbos/policies/admin_authorization.yaml
  docs/PRD-IFLA-Standards-Platform.md
  docs/admin-api-specification.md
  docs/admin-architecture-mapping.md
  docs/admin-authorization-model.md
  docs/api-documentation-template.md
  docs/technical-implementation-guide.md
  docs/user-journey-maps.md
Owners: none

add debug dev script
  apps/admin/src/app/admin/page.tsx
  apps/admin/src/components/welcome/RequestInviteButton.tsx
  package.json
Owners: none

feat: redesign admin portal navigation and role-based home page
  apps/admin/next.config.js
  apps/admin/src/app/api/admin/namespaces/route.ts
  apps/admin/src/app/api/auth/signin/route.ts
  apps/admin/src/app/dashboard/admin/page.tsx
  apps/admin/src/app/dashboard/rg/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/app/sign-in/[[...sign-in]]/page.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/components/welcome/RequestInviteButton.tsx
  apps/admin/src/components/welcome/WelcomePage.tsx
  apps/admin/src/lib/auth-routing.ts
  apps/admin/src/middleware.ts
Owners: none

feat: implement team-based authorization architecture
  apps/admin/src/app/api/auth/callback/route.ts
  apps/admin/src/app/api/request-invite/route.ts
  apps/admin/src/app/layout.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/components/welcome/RequestInviteButton.tsx
  apps/admin/src/components/welcome/WelcomePage.tsx
  apps/admin/src/lib/auth-routing.ts
  apps/admin/src/middleware.ts
  developer_notes/NEXTJS_CODING_STANDARDS.MD
  docs/admin-authorization-model.md
  docs/authorization-architecture-reference.md
  packages/theme/src/utils/addBasePath.ts
  packages/theme/src/utils/index.ts
Owners: none

fix: GitHub authentication and basePath handling in admin app
  apps/admin/src/app/api/auth/callback/route.ts
  apps/admin/src/app/api/auth/signin/route.ts
  apps/admin/src/app/api/auth/sync-github/route.ts
  apps/admin/src/app/components/docusaurus-navbar.tsx
  apps/admin/src/app/dashboard/admin/page.tsx
  apps/admin/src/app/dashboard/rg/ReviewGroupDashboard.tsx
  apps/admin/src/app/sign-in/[[...sign-in]]/page.tsx
  apps/admin/src/lib/github-integration.ts
  apps/admin/src/test/mocks/api.ts
Owners: none
