Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors, @RG-ISBD-editors, @RG-TEST-editors

.github/CODEOWNERS:

/standards/ISBDM/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/LRM/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors
/standards/isbd/** @RG-ISBD-editors


/standards/test/** @RG-TEST-editors

Update examples and remove redundant lines
  standards/ISBDM/docs/assess/index.mdx
Owners: @RG-ISBDM-editors

feat: add AI session initialization wrapper script
  apps/admin/src/test/examples/tdd-workflow-example.ts
  packages/contracts/schemas/Job.zod.ts
  packages/contracts/schemas/Vocabulary.zod.ts
  packages/contracts/schemas/validation.ts
  packages/unified-spreadsheet/src/adapters/exceljs-adapter.ts
  scripts/ai-session-init-wrapper.js
Owners: none

fix(ci): build @ifla/contracts before theme in PR workflows
  .github/workflows/check-links.yml
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): resolve Nx Set SHAs and cache path validation warnings
  .github/workflows/cache-fix.patch
  .github/workflows/check-links.yml
  .github/workflows/check-warnings.yml
  .github/workflows/ci-health-check.yml
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/simple-deploy.yml
  .github/workflows/workflow-fixes.md
  .prepushrc.json
Owners: none

fix(ci): remove incompatible nx-cloud fix-ci step
  .github/workflows/nx-optimized-docs-deploy.yml
Owners: none

fix(ci): restore nx-cloud fix-ci AI self-healing and correct runner config
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
  nx.json
Owners: none

chore(deps): update all Nx packages to 21.5.3
  package.json
  pnpm-lock.yaml
Owners: none

fix(ci): use npx instead of pnpm dlx for nx-cloud commands
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
  pnpm-lock.yaml
  standards/FRBR/docusaurus.config.ts
Owners: none

fix(ci): add @ifla/contracts build before theme in deploy workflows
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/simple-deploy.yml
Owners: none

fix: resolve CI build failures for @ifla/clients and admin
  apps/docs/docusaurus.config.ts
  package.json
  packages/clients/src/github/gql/graphql.ts
  packages/clients/src/supabase/jobs.client.ts
  packages/supabase-types/src/database.ts
  pnpm-lock.yaml
Owners: none

feat(theme): add Examples, Example, and Steps components with comprehensive documentation
  packages/theme/src/components/Example/__tests__/Example.test.tsx
  packages/theme/src/components/Example/index.tsx
  packages/theme/src/components/Example/styles.module.scss
  packages/theme/src/components/Examples/__tests__/Examples.test.tsx
  packages/theme/src/components/Examples/index.tsx
  packages/theme/src/components/Examples/styles.module.scss
  packages/theme/src/components/Steps/__tests__/Steps.test.tsx
  packages/theme/src/components/Steps/index.tsx
  packages/theme/src/components/Steps/styles.module.scss
  packages/theme/src/components/index.ts
  portal/docs/guides/components/examples-demo.mdx
  portal/docs/guides/components/examples-summary.md
  portal/docs/guides/components/examples.mdx
  portal/docs/guides/components/index.mdx
  portal/docs/guides/components/quick-reference.mdx
  portal/docs/guides/components/steps.mdx
  portal/sidebars.ts
  portal/src/theme/MDXComponents.tsx
Owners: none

refactor(docs): consolidate Examples and Steps component documentation
  portal/docs/guides/components/examples-demo.mdx
  portal/docs/guides/components/examples-summary.md
  portal/docs/guides/components/examples.mdx
  portal/docs/guides/components/index.mdx
  portal/docs/guides/components/quick-reference.mdx
  portal/docs/guides/components/steps.mdx
  portal/sidebars.ts
Owners: none

refactor(configs): enable fine-grained `experimental_faster` optimizations across all Docusaurus sites
  apps/docs/docusaurus.config.ts
  packages/theme/src/components/Steps/styles.module.scss
  portal/docusaurus.config.ts
  scripts/site-template.ts
  standards/FRBR/docusaurus.config.ts
  standards/ISBDM/docusaurus.config.ts
  standards/LRM/docusaurus.config.ts
  standards/isbd/docusaurus.config.ts
  standards/muldicat/docusaurus.config.ts
  standards/newtest/docusaurus.config.ts
  standards/unimarc/docusaurus.config.ts
Owners: @RG-ISBDM-editors, @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

ci: optimize PR validation and fix EditChoiceModal tests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
  .github/lighthouserc.json
  .github/workflows/lighthouse-post-deploy.yml
  .github/workflows/pr-validation.yml
  packages/theme/src/components/EditChoiceModal/index.tsx
  packages/theme/src/tests/components/EditChoiceModal.test.tsx
Owners: none

feat(scripts): add GitHub issue bulk management tools
  output/issues.csv
  output/issues2.csv
  scripts/bulk-create-issues.py
  scripts/bulk-edit-issues.py
  scripts/cleanup-labels.py
Owners: none

fix(ci): leverage Nx dependency graph for optimized builds
  .github/workflows/nx-optimized-docs-deploy.yml
  scripts/collect-warnings-from-outputs.js
Owners: none

fix(ci): disable distributed execution to resolve build failures
  .github/workflows/nx-optimized-docs-deploy.yml
Owners: none

fix(ci): prevent parallel build race condition in check-warnings
  .github/workflows/check-warnings.yml
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): apply code formatting to workflow files
  .github/workflows/check-warnings.yml
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): disable Nx Cloud distributed execution for all PR validation jobs
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): update deprecated nrwl/nx-set-shas to nx/set-shas@v4
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
Owners: none

chore: update @nrwl references to @nx namespace
  developer_notes/nx-cloud-setup.md
  packages/supabase-types/src/database.ts
Owners: none

fix(ci): revert to nrwl/nx-set-shas@v4 - nx/set-shas doesn't exist
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): remove code-coverage flag and format supabase types
  .github/workflows/pr-validation.yml
  packages/supabase-types/src/database.ts
Owners: none

fix(ci): add DOCS_ENV environment variable for Docusaurus builds
  .github/workflows/pr-validation.yml
Owners: none

fix(clients): reorder exports to fix TypeScript resolution warnings
  packages/clients/package.json
Owners: none

fix(packages): reorder exports to fix TypeScript resolution warnings
  packages/contracts/package.json
  packages/fixtures/package.json
Owners: none

fix(ci): improve cache key strategy for better performance
  .github/workflows/pr-validation.yml
Owners: none

Update nrwl/* references to modern @nx/* equivalents
  developer_notes/REFINE_RESOURCE_METADATA_PATTERN.md
  docs/nx-workflow-optimizations.md
  scripts/nx-performance-check.js
  system-design-docs/06-testing-strategy.md
Owners: none

perf(ci): optimize PR validation build performance
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): make warnings check non-blocking and improve cache strategy
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): properly handle non-blocking warnings check
  .github/workflows/pr-validation.yml
  packages/supabase-types/src/database.ts
Owners: none

fix(supabase-types): apply formatting to database.ts
  packages/supabase-types/src/database.ts
Owners: none

fix(ci): replace deprecated nrwl/nx-set-shas with nx-dev/nx-set-shas
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): revert to nrwl/nx-set-shas@v4
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
  packages/supabase-types/src/database.ts
Owners: none

fix(ci): exclude auto-generated supabase types from format checks
  .prettierignore
Owners: none

perf(ci): eliminate duplicate builds for warning checks
  .github/workflows/pr-validation.yml
  scripts/extract-build-warnings.js
Owners: none

feat: add YAML validation to pre-commit hooks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/scaffold-template/blog/authors.yml
  scripts/validate-yaml.js
Owners: none

style: apply prettier formatting to new scripts
  scripts/extract-build-warnings.js
  scripts/validate-yaml.js
Owners: none

style: fix formatting for pnpm-lock.yaml and scaffold template
  pnpm-lock.yaml
  scripts/scaffold-template/blog/authors.yml
Owners: none
