Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors

.github/CODEOWNERS:

/standards/isbdm/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/lrm/** @RG-LRM-editors
/standards/lrm/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors

fix sidebar config
  apps/docs/docusaurus.config.ts
Owners: none

feat: implement type-safe contracts system and environment configuration
  apps/admin/.env.example
  apps/admin/.gitignore
  apps/admin/src/config/environment.ts
  apps/admin/src/types/environment.d.ts
  apps/docs/package.json
  package.json
  packages/contracts/openapi/external-api.yaml
  packages/contracts/schemas/adapter-example.ts
  packages/contracts/schemas/validation.ts
  packages/contracts/types/ts/external-api.ts
  packages/fixtures/rdf-builds.json
  pnpm-lock.yaml
  tools/codegen/generate-types.ts
Owners: none

feat: implement type-safe admin shell with data providers and RDF Builds
  apps/admin/public/mockServiceWorker.js
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/rdf-builds/[id]/page.tsx
  apps/admin/src/app/rdf-builds/new/page.tsx
  apps/admin/src/app/rdf-builds/page.tsx
  apps/admin/src/lib/msw-init.ts
  apps/admin/src/mocks/browser.ts
  apps/admin/src/mocks/fixtures.ts
  apps/admin/src/mocks/handlers.ts
  apps/admin/src/mocks/server.ts
  apps/admin/src/providers/RefineProvider.tsx
  apps/admin/src/providers/adapters/rdfService.adapter.ts
  apps/admin/src/providers/adapters/supabaseJobs.adapter.ts
  apps/admin/src/providers/dataProvider.ts
  apps/admin/src/providers/liveDataProvider.ts
  apps/admin/src/providers/mockDataProvider.ts
  package.json
  packages/contracts/schemas/Job.zod.ts
  packages/contracts/schemas/RdfBuild.zod.ts
  packages/fixtures/src/index.ts
  packages/fixtures/tsup.config.ts
  pnpm-lock.yaml
Owners: none

feat: add OpenAPI documentation generation and docs integration
  apps/admin/package.json
  apps/admin/public/openapi.json
  apps/admin/scripts/generate-openapi.ts
  apps/docs/docusaurus.config.ts
  pnpm-lock.yaml
Owners: none

feat: enhance OpenAPI generation and improve pre-commit checks
  package.json
  scripts/check-package-changes.js
  scripts/pre-commit-check-robust.js
Owners: none

feat: add dependency checking and enhance ESLint configuration
  e2e/utils/server-manager.ts
  e2e/utils/tagged-test.ts
  packages/eslint-config/configs/nx.mjs
  packages/eslint-config/index.mjs
  project.json
  scripts/check-dependencies.js
Owners: none

fix: resolve TypeScript issues in e2e test utilities
  CLAUDE.md
  e2e/utils/tagged-test.ts
Owners: none

chore: update Nx to version 21.4.0
  nx.json
  package.json
Owners: none

fix: resolve dependency hoisting issues in pnpm workspace
  apps/admin/package.json
  apps/docs/package.json
  package.json
  packages/clients/package.json
  packages/contracts/package.json
  packages/dev-servers/package.json
  packages/eslint-config/package.json
  packages/fixtures/package.json
  pnpm-lock.yaml
  scripts/fix-dependencies-auto.js
  scripts/fix-dependencies.js
  scripts/package.json
  tools/typescript/rdf-converters/package.json
Owners: none

docs: create comprehensive MUI to Ant Design migration roadmap
  developer_notes/mui-to-antd-migration-plan.md
Owners: none

test: fix UI tests after MUI to Ant Design migration
  affected.json
  apps/admin/TESTING_GAPS_ANALYSIS.md
  apps/admin/docs/auth-test-migration-summary.md
  apps/admin/docs/test-failures-analysis.md
  apps/admin/scripts/deprecate-old-auth-tests.sh
  apps/admin/src/app/(authenticated)/import/ImportWorkflow.tsx
  apps/admin/src/mocks/clerk-handlers.ts
  apps/admin/src/test/_deprecated/integration/api-auth-with-clerk-users.test.ts
  apps/admin/src/test/_deprecated/integration/api-namespaces-auth.test.ts
  apps/admin/src/test/_deprecated/integration/api-unauthenticated.test.ts
  apps/admin/src/test/_deprecated/integration/api-vocabularies-auth.test.ts
  apps/admin/src/test/_deprecated/integration/api-vocabularies-simple.test.ts
  apps/admin/src/test/_deprecated/integration/api-vocabularies-working.test.ts
  apps/admin/src/test/_deprecated/lib/session-management.test.ts
  apps/admin/src/test/integration/components/dashboard/AdminDashboard.a11y.test.tsx
  apps/admin/src/test/integration/dashboard-access.test.ts
  apps/admin/src/test/integration/lib/__mocks__/AuthCache.ts
  apps/admin/src/test/integration/lib/authorization.integration.test.ts
  apps/admin/src/test/integration/namespace-dashboard.test.ts
  apps/admin/src/test/mocks/dynamic-auth.ts
  apps/admin/src/test/setup.ts
  apps/admin/src/tests/integration/NamespaceManagementClient.integration.test.tsx
  apps/admin/src/tests/integration/admin-dashboard.integration.test.tsx
  apps/admin/src/tests/integration/author-dashboard.integration.test.tsx
  apps/admin/src/tests/integration/dashboard-rendering.test.tsx
  apps/admin/src/tests/integration/editor-dashboard.integration.test.tsx
  apps/admin/src/tests/integration/namespace-dashboard.integration.test.tsx
  apps/admin/src/tests/integration/pending-dashboard.integration.test.tsx
  apps/admin/src/tests/integration/review-group-dashboard.integration.test.tsx
  apps/admin/tsconfig.json
  apps/admin/vitest.config.ts
  nx.json
  packages/contracts/tsconfig.json
  packages/fixtures/tsconfig.json
  tools/typescript/rdf-converters/tests/rdf-to-mdx-pipeline.test.ts
Owners: none

chore(ci): update tag-based test runner to use Vitest -t instead of unsupported --grep; fix pre-commit smart checks
  apps/admin/src/test/_deprecated/integration/api-auth-with-clerk-users.test.ts
  apps/admin/src/test/_deprecated/integration/api-namespaces-auth.test.ts
  apps/admin/src/test/_deprecated/integration/api-unauthenticated.test.ts
  apps/admin/src/test/_deprecated/integration/api-vocabularies-auth.test.ts
  apps/admin/src/test/_deprecated/integration/api-vocabularies-simple.test.ts
  apps/admin/src/test/_deprecated/integration/api-vocabularies-working.test.ts
  apps/admin/src/test/_deprecated/lib/session-management.test.ts
  e2e/_deprecated/DEPRECATION_SUMMARY.md
  e2e/_deprecated/auth-basic.spec.ts.deprecated
  e2e/_deprecated/auth-dropdown-validation.e2e.test.ts.deprecated
  e2e/_deprecated/auth-roles.spec.ts.deprecated
  e2e/_deprecated/auth-simple.spec.ts.deprecated
  e2e/_deprecated/auth.e2e.test.ts.deprecated
  e2e/_deprecated/cross-site-auth-communication.e2e.test.ts.deprecated
  e2e/_deprecated/dashboard-protection.e2e.test.ts.deprecated
  e2e/_deprecated/docs-env-validation.spec.ts.deprecated
  e2e/_deprecated/environment-fallback.spec.ts.deprecated
  e2e/_deprecated/multi-site-testing-partial.spec.ts.deprecated
  e2e/_deprecated/rbac-scenarios.e2e.test.ts.deprecated
  e2e/_deprecated/server-integration.spec.ts.deprecated
  e2e/_deprecated/site-management-workflow.e2e.test.ts.deprecated
  e2e/_deprecated/vocabulary-functionality.spec.ts.deprecated
  scripts/port-manager.test.ts
  scripts/run-tests-by-tag.js
Owners: none

feat: add Supabase jobs client with enhanced validation and error handling
  packages/clients/codegen.ts
  packages/clients/package.json
  packages/clients/src/errors.ts
  packages/clients/src/github/github.client.ts
  packages/clients/src/github/index.ts
  packages/clients/src/github/queries/ListDiscussions.graphql
  packages/clients/src/index.ts
  packages/clients/src/supabase/index.ts
  packages/clients/src/supabase/jobs.client.ts
  packages/clients/tsup.config.ts
  packages/contracts/index.ts
  packages/contracts/package.json
  packages/contracts/schemas/index.ts
  packages/contracts/tsconfig.json
  packages/contracts/tsup.config.ts
  packages/fixtures/package.json
  packages/fixtures/tsconfig.json
  packages/fixtures/tsup.config.ts
  pnpm-lock.yaml
Owners: none

refactor(docs): migrate from MUI to Ant Design components in FRBR and UNIMARC
  standards/FRBR/docs/index.mdx
  standards/unimarc/docs/index.mdx
Owners: @RG-UNIMARC-editors

refactor: update Vitest configuration and test executor
  scripts/project.json
  scripts/vitest.config.ts
Owners: none

docs: consolidate and reformat developer prompt guides
  AGENTS.md
  developer_notes/prompts/ai-brief-feature-factory.md
  developer_notes/prompts/backend-integration-plan-generation.md
  developer_notes/prompts/qa-release-verification-plan.md
  developer_notes/prompts/system-architecture-prime-directive.md
  developer_notes/prompts/test-development-specification.md
Owners: none

chore(eslint): add Docusaurus-specific configurations and extend MDX linting support
  apps/docs/eslint.config.mjs
  eslint.config.mjs
  packages/eslint-config/configs/accessibility.mjs
  packages/eslint-config/configs/docusaurus.mjs
  packages/eslint-config/package.json
  portal/project.json
  standards/FRBR/eslint.config.mjs
  standards/FRBR/project.json
  standards/ISBDM/eslint.config.mjs
  standards/ISBDM/project.json
  standards/LRM/eslint.config.mjs
  standards/LRM/project.json
  standards/isbd/eslint.config.mjs
  standards/isbd/project.json
  standards/muldicat/eslint.config.mjs
  standards/muldicat/project.json
  standards/newtest/eslint.config.mjs
  standards/newtest/project.json
  standards/unimarc/eslint.config.mjs
  standards/unimarc/project.json
Owners: @RG-MULDICAT-editors, @RG-UNIMARC-editors

refactor(e2e): update config imports and remove deprecated test suites
  e2e/examples/multi-site-testing.spec.ts
Owners: none

refactor(fixtures): reorganize test fixtures structure
  packages/fixtures/package.json
  packages/fixtures/src/clerk-users.json
  packages/fixtures/src/index.ts
  packages/fixtures/src/msw/clerk-handlers.ts
  packages/fixtures/src/msw/index.ts
  packages/fixtures/src/rdf-builds.json
  packages/fixtures/src/users/constants.ts
  packages/fixtures/src/users/helpers.ts
  packages/fixtures/src/users/index.ts
  packages/fixtures/src/users/test-users-class.ts
  packages/fixtures/tsup.config.ts
Owners: none

build(typescript): restructure TypeScript configuration hierarchy
  apps/admin/tsconfig.json
  apps/docs/tsconfig.json
  e2e/tsconfig.json
  packages/fixtures/tsconfig.json
  portal/tsconfig.json
  scripts/tsconfig.json
  standards/newtest/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Owners: none

build(eslint): migrate to centralized ESLint configuration
  .eslintignore
  apps/docs/eslint.config.mjs
  eslint.config.mjs
  packages/eslint-config/configs/base.mjs
  packages/eslint-config/configs/docusaurus.mjs
  packages/eslint-config/configs/react.mjs
  packages/eslint-config/utils/ignore-patterns.mjs
  portal/eslint.config.mjs
  standards/FRBR/eslint.config.mjs
  standards/ISBDM/eslint.config.mjs
  standards/LRM/eslint.config.mjs
  standards/isbd/eslint.config.mjs
  standards/muldicat/eslint.config.mjs
  standards/newtest/eslint.config.mjs
  standards/unimarc/eslint.config.mjs
Owners: @RG-MULDICAT-editors, @RG-UNIMARC-editors

test: update test infrastructure and E2E configuration
  apps/admin/vitest.config.ts
  e2e/accessibility/docs-accessibility.e2e.spec.ts
  e2e/e2e/performance/load-testing.e2e.spec.ts
  e2e/global-setup.integration.ts
  e2e/global-setup.on-demand.ts
  e2e/global-setup.smoke.ts
  e2e/global-setup.ts
  e2e/integration/build-validation.integration.spec.ts
  e2e/performance.spec.ts
  e2e/playwright/integration-setup.ts
  e2e/playwright/integration-teardown.ts
  e2e/reporters/ci-metrics.ts
  e2e/reporters/flaky-detector.ts
  e2e/utils/auth-helpers.ts
  e2e/utils/auth-mock.ts
  e2e/utils/clerk-auth-helpers.ts
  e2e/utils/clerk-auth.ts
  e2e/utils/lighthouse-helpers.ts
  e2e/utils/servers.ts
  e2e/utils/session-mock.ts
  e2e/utils/simple-auth-helpers.ts
  e2e/utils/test-categorizer.ts
  e2e/utils/test-helpers.ts
  packages/unified-spreadsheet/vite.config.ts
  playwright.config.base.ts
  playwright.config.ci.ts
  vitest.config.platform.ts
Owners: none

refactor(sites): clean up Docusaurus site configurations
  apps/docs/docusaurus.config.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  portal/docusaurus.config.ts
  portal/src/components/Hero.tsx
  portal/src/components/HomepageFeatures/index.tsx
  portal/src/pages/index.tsx
  portal/src/pages/manage/index.tsx
  standards/FRBR/src/components/HomepageFeatures/index.tsx
  standards/FRBR/src/pages/rdf.tsx
  standards/FRBR/src/pages/sitemap.tsx
  standards/ISBDM/src/components/Hero.tsx
  standards/ISBDM/src/components/HomepageFeatures/index.tsx
  standards/ISBDM/src/components/demo/Button/index.tsx
  standards/ISBDM/src/components/templates/ConceptPage.jsx
  standards/ISBDM/src/components/templates/ValueVocabularyPage.jsx
  standards/ISBDM/src/pages/editor/index.tsx
  standards/ISBDM/src/pages/index.tsx
  standards/ISBDM/src/pages/rdf.tsx
  standards/ISBDM/src/pages/sitemap.tsx
  standards/ISBDM/src/utils/buffer-patch.js
  standards/ISBDM/src/utils/filehandle-patch.js
  standards/ISBDM/src/utils/image-size-direct-patch.js
  standards/ISBDM/src/utils/image-size-patch.js
  standards/LRM/src/components/HomepageFeatures/index.tsx
  standards/LRM/src/pages/rdf.tsx
  standards/LRM/src/pages/sitemap.tsx
  standards/isbd/src/components/HomepageFeatures/index.tsx
  standards/isbd/src/pages/rdf.tsx
  standards/isbd/src/pages/sitemap.tsx
  standards/muldicat/src/components/HomepageFeatures/index.tsx
  standards/muldicat/src/pages/rdf.tsx
  standards/muldicat/src/pages/sitemap.tsx
  standards/newtest/docusaurus.config.ts
  standards/unimarc/src/components/HomepageFeatures/index.tsx
  standards/unimarc/src/pages/rdf.tsx
  standards/unimarc/src/pages/sitemap.tsx
Owners: @RG-MULDICAT-editors, @RG-UNIMARC-editors

refactor: move siteConfig to contracts package
  packages/contracts/index.ts
  packages/contracts/schemas/Job.zod.ts
  packages/contracts/schemas/Vocabulary.zod.ts
  packages/contracts/schemas/validation.ts
  packages/contracts/src/config/siteConfig.ts
  packages/contracts/src/index.ts
  packages/contracts/tsup.config.ts
Owners: none

fix(scripts): add missing @google/generative-ai dependency for test tagging
  package.json
  pnpm-lock.yaml
Owners: none

fix(scripts): resolve linting errors in test tagging scripts
  scripts/auto-tag-tests.ts
  scripts/dev-servers.test.ts
Owners: none

feat(clients): add GitHub GraphQL type definitions
  packages/clients/src/github/gql/fragment-masking.ts
  packages/clients/src/github/gql/gql.ts
  packages/clients/src/github/gql/graphql.ts
  packages/clients/src/github/gql/index.ts
Owners: none

chore: remove temporary split-commits script
  scripts/split-commits.sh
Owners: none

fix(clients): add missing GraphQL runtime dependencies
  packages/clients/package.json
  pnpm-lock.yaml
Owners: none

feat(admin): implement Feature Factory workflow with 6-phase development process
  .claude/agents/admin-feature-factory.yml
  CLAUDE.md
  apps/admin/docs/templates/FEATURE_README.md
  apps/admin/docs/templates/USER_GUIDE.md
  apps/admin/package.json
  apps/admin/src/components/help/FeatureHelp.tsx
  apps/admin/src/hooks/useFeatureDocs.ts
  developer_notes/ADMIN_FEATURE_WORKFLOW.md
  developer_notes/prompts/admin-feature-factory-refine.md
  package.json
  pnpm-lock.yaml
  scripts/admin-feature-factory.ts
  scripts/pre-commit-check-robust.js
  scripts/pre-commit-check-smart.js
Owners: none

feat: add quiet mode for tests and builds to reduce context usage
  package.json
  scripts/pre-commit-check-robust.js
  scripts/pre-commit-check-smart.js
  scripts/test-quiet.sh
  vitest.config.quiet.ts
Owners: none

refactor(scripts): migrate test tagger to @memberjunction/ai abstraction
  package.json
  pnpm-lock.yaml
  scripts/auto-tag-tests.ts
Owners: none

chore(test): configure Vitest to use /tmp for test output
  apps/admin/vitest.config.ts
  packages/dev-servers/vitest.config.ts
  scripts/auto-tag-tests.ts
  scripts/package-lock.json
  scripts/package.json
  scripts/project.json
  scripts/vitest.config.ts
  vitest.config.nx.ts
Owners: none

optimize claude.md
  CLAUDE.md
Owners: none

feat(admin): implement 7-phase Feature Factory with code discovery
  scripts/admin-feature-factory.ts
  scripts/discover-refactorable-code.ts
Owners: none

docs: update Admin Feature Factory to 7-phase workflow
  developer_notes/ADMIN_FEATURE_WORKFLOW.md
Owners: none

feat: add Feature Factory commands and docs server to all scripts
  package.json
Owners: none

docs: add comprehensive configuration optimization plans
  developer_notes/COMPREHENSIVE_CONFIG_OPTIMIZATION.md
  developer_notes/CONFIG_OPTIMIZATION_PLAN.md
  developer_notes/SCRIPTS_TO_APPLICATIONS_MASTER_PLAN.md
Owners: none

docs: update CLAUDE.md and enhance admin feature help
  CLAUDE.md
  apps/admin/src/components/help/FeatureHelp.tsx
Owners: none

chore: add .serena/ to gitignore
  .gitignore
Owners: none
