Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors, @RG-ISBD-editors, @RG-TEST-editors

.github/CODEOWNERS:

/standards/ISBDM/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/LRM/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors
/standards/isbd/** @RG-ISBD-editors


/standards/test/** @RG-TEST-editors

adjust the lint to warn on errors in test files
  eslint.config.mjs
Owners: none

update documentattion to consolidate
  PROJECT_INDEX.md
  scripts/pre-commit-check-optimized.js
  system-design-docs/01-system-architecture-overview.md
  system-design-docs/02-data-architecture.md
  system-design-docs/03-configuration-architecture.md
  system-design-docs/04-development-workflow.md
  system-design-docs/05-api-architecture.md
  system-design-docs/08-architecture-evolution.md
  system-design-docs/09-collaboration-architecture.md
  system-design-docs/10-implementation-strategy.md
  system-design-docs/11-design-system-and-ui-patterns.md
  system-design-docs/11-design-system-ui-patterns.md
  system-design-docs/27-mvp-critical-path.md
  system-design-docs/archive-supplementary-docs/11-discussion-points.md
  system-design-docs/archive-supplementary-docs/12-environment-strategy-final.md
  system-design-docs/archive-supplementary-docs/13-environment-migration-guide.md
  system-design-docs/archive-supplementary-docs/14-repository-structure-current.md
  system-design-docs/archive-supplementary-docs/15-tinacms-integration-design.md
  system-design-docs/archive-supplementary-docs/16-tinacms-poc-guide.md
  system-design-docs/archive-supplementary-docs/17-tinacms-integration-architecture.md
  system-design-docs/archive-supplementary-docs/18-multilingual-strategy-design.md
  system-design-docs/archive-supplementary-docs/19-edit-permissions-workflow.md
  system-design-docs/archive-supplementary-docs/20-translation-workflow-integration.md
  system-design-docs/archive-supplementary-docs/21-vocabulary-server-requirements.md
  system-design-docs/archive-supplementary-docs/22-omr25-comparison-analysis.md
  system-design-docs/archive-supplementary-docs/23-mdx-generation-safety-design.md
  system-design-docs/archive-supplementary-docs/24-admin-ui-api-specification.md
  system-design-docs/archive-supplementary-docs/25-design-system-specification.md
  system-design-docs/archive-supplementary-docs/26-ui-component-patterns.md
  system-design-docs/archive-supplementary-docs/27-mvp-critical-path.md
  system-design-docs/archive-supplementary-docs/28-isbd-csv-to-mdx-plan.md
  system-design-docs/archive-supplementary-docs/29-admin-dashboard-mockup-reference.md
  system-design-docs/archive-supplementary-docs/30-integration-prd-alignment-analysis.md
  system-design-docs/archive-supplementary-docs/31-multi-element-set-architecture.md
Owners: none

migrate(docs): Replace outdated ISBD element pages with Area-based structure
  standards/isbd/docs/elements/isbd/area0/index.mdx
  standards/isbd/docs/elements/isbd/area1/index.mdx
  standards/isbd/docs/elements/isbd/area2/index.mdx
  standards/isbd/docs/elements/isbd/area3/index.mdx
  standards/isbd/docs/elements/isbd/area4/index.mdx
  standards/isbd/docs/elements/isbd/area5/index.mdx
  standards/isbd/docs/elements/isbd/area6/index.mdx
  standards/isbd/docs/elements/isbd/area7/index.mdx
  standards/isbd/docs/elements/isbd/area8/index.mdx
  standards/isbd/docs/elements/isbd/attributes/index.mdx
  standards/isbd/docs/elements/isbd/index.mdx
  standards/isbd/docs/elements/isbd/notes/index.mdx
  standards/isbd/docs/elements/isbd/relationships/index.mdx
  standards/isbd/docs/elements/isbd/statements/index.mdx
  standards/isbd/sidebars.ts
Owners: @RG-ISBD-editors

add config info to claude
  standards/CLAUDE.md
Owners: none

fix: resolve pre-commit test failures after file reorganization
  apps/admin/src/app/(authenticated)/import/__tests__/ImportWorkflow.unit.test.tsx
  apps/admin/src/test/components/NamespaceManagementClient.test.tsx
  packages/theme/src/tests/setup.ts
  scripts/generate-vocabulary-sites.ts
  scripts/nx-validate-sidebar-references.ts
  scripts/page-template-generator.integration.test.ts
  scripts/tsconfig.json
  scripts/tsconfig.test.json
  scripts/utils/file-existence-checker.test.ts
  scripts/utils/file-structure-validator.test.ts
  scripts/utils/sidebar-reference-extractor.test.ts
  scripts/validate-sidebar-references.test.ts
  scripts/vitest.config.ts
  tools/typescript/rdf-converters/src/lib/dctap.ts
  tools/typescript/rdf-converters/src/rdf-folder-to-csv.ts
  tools/typescript/rdf-converters/tests/dctap-extensions.test.ts
  tools/typescript/rdf-converters/tests/fixtures/batch/complex/nested/isbd/elements/element1.ttl
  tools/typescript/rdf-converters/tests/fixtures/batch/complex/nested/isbd/terms/term1.ttl
  tools/typescript/rdf-converters/tests/fixtures/batch/complex/nested/lrm/elements/element1.ttl
  tools/typescript/rdf-converters/tests/fixtures/batch/complex/nested/lrm/terms/term1.ttl
  tools/typescript/rdf-converters/tests/fixtures/batch/simple/elements/element1.ttl
  tools/typescript/rdf-converters/tests/fixtures/batch/simple/terms/term1.ttl
  tools/typescript/rdf-converters/tests/rdf-folder-to-csv.test.ts
  tools/typescript/rdf-converters/tests/rdf-to-csv.test.ts
  tools/typescript/rdf-converters/tests/rdf-to-mdx-pipeline.test.ts
  vite.config.ts
  vitest.config.nx.ts
Owners: none

feat: add initial project configuration with dependencies
  pyproject.toml
  tools/python/isbd-processor/data/ISBD_Update 2021 to Consolidated ed 2011.pdf
  tools/python/isbd-processor/data/elements.csv
  tools/python/isbd-processor/gemini_isbd_processor.py
  tools/python/isbd-processor/pyproject.toml
  tools/python/isbd-processor/run_isbd_processor.sh 
  uv.lock
Owners: none

add system design docs to claude and readme as a source
  CLAUDE.md
  README.md
Owners: none

isbd ai processing from standards pdf
  tools/python/isbd-processor/data/isbd.pdf
  tools/python/isbd-processor/gemini_isbd_processor.py
  tools/python/isbd-processor/pyproject.toml
  tools/python/isbd-processor/run_isbd_processor.sh
Owners: none

update theme to include mdx components barrel file
  packages/theme/package.json
  packages/theme/src/components/ElementReference/index.tsx
  packages/theme/tsup.config.ts
  scripts/scaffold-template/src/theme/MDXComponents.tsx
  standards/FRBR/src/theme/MDXComponents.tsx
  standards/LRM/src/theme/MDXComponents.tsx
  standards/isbd/src/theme/MDXComponents.tsx
  standards/muldicat/src/theme/MDXComponents.tsx
  standards/newtest/src/theme/MDXComponents.tsx
  standards/test-integration/src/theme/MDXComponents.tsx
  standards/unimarc/src/theme/MDXComponents.tsx
Owners: @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

python isbd update tools
  tools/python/isbd-processor/reformat_mdx.py
  tools/python/isbd-processor/ses_processor.py
Owners: none

isbd ses
  standards/isbd/docs/elements/isbd/SES/C2001.mdx
  standards/isbd/docs/elements/isbd/SES/C2002.mdx
  standards/isbd/docs/elements/isbd/SES/C2003.mdx
  standards/isbd/docs/elements/isbd/SES/C2004.mdx
  standards/isbd/docs/elements/isbd/SES/C2005.mdx
  standards/isbd/docs/elements/isbd/SES/C2006.mdx
  standards/isbd/docs/elements/isbd/SES/C2007.mdx
  standards/isbd/docs/elements/isbd/SES/C2008.mdx
  standards/isbd/docs/elements/isbd/SES/C2009.mdx
  standards/isbd/docs/elements/isbd/SES/C2010.mdx
  standards/isbd/docs/elements/isbd/SES/C2011.mdx
  standards/isbd/docs/elements/isbd/SES/C2012.mdx
  standards/isbd/docs/elements/isbd/SES/C2013.mdx
  standards/isbd/docs/elements/isbd/SES/C2014.mdx
  standards/isbd/docs/elements/isbd/SES/C2015.mdx
  standards/isbd/docs/elements/isbd/SES/C2016.mdx
  standards/isbd/docs/elements/isbd/SES/C2017.mdx
  standards/isbd/docs/elements/isbd/SES/C2018.mdx
  standards/isbd/docs/elements/isbd/SES/C2019.mdx
  standards/isbd/docs/elements/isbd/SES/C2020.mdx
  standards/isbd/docs/elements/isbd/SES/C2021.mdx
  standards/isbd/docs/elements/isbd/SES/C2022.mdx
  standards/isbd/docs/elements/isbd/SES/C2024.mdx
  standards/isbd/docs/elements/isbd/SES/C2025.mdx
  standards/isbd/docs/elements/isbd/SES/C2026.mdx
  standards/isbd/docs/elements/isbd/SES/C2027.mdx
  standards/isbd/docs/elements/isbd/SES/C2028.mdx
Owners: @RG-ISBD-editors

update ses files with correct content
  standards/isbd/docs/elements/isbd/SES/C2001.mdx
  standards/isbd/docs/elements/isbd/SES/C2002.mdx
  standards/isbd/docs/elements/isbd/SES/C2003.mdx
  standards/isbd/docs/elements/isbd/SES/C2004.mdx
  standards/isbd/docs/elements/isbd/SES/C2005.mdx
  standards/isbd/docs/elements/isbd/SES/C2006.mdx
  standards/isbd/docs/elements/isbd/SES/C2007.mdx
  standards/isbd/docs/elements/isbd/SES/C2008.mdx
  standards/isbd/docs/elements/isbd/SES/C2009.mdx
  standards/isbd/docs/elements/isbd/SES/C2010.mdx
  standards/isbd/docs/elements/isbd/SES/C2011.mdx
  standards/isbd/docs/elements/isbd/SES/C2012.mdx
  standards/isbd/docs/elements/isbd/SES/C2013.mdx
  standards/isbd/docs/elements/isbd/SES/C2014.mdx
  standards/isbd/docs/elements/isbd/SES/C2015.mdx
  standards/isbd/docs/elements/isbd/SES/C2016.mdx
  standards/isbd/docs/elements/isbd/SES/C2017.mdx
  standards/isbd/docs/elements/isbd/SES/C2018.mdx
  standards/isbd/docs/elements/isbd/SES/C2019.mdx
  standards/isbd/docs/elements/isbd/SES/C2020.mdx
  standards/isbd/docs/elements/isbd/SES/C2021.mdx
  standards/isbd/docs/elements/isbd/SES/C2022.mdx
  standards/isbd/docs/elements/isbd/SES/C2024.mdx
  standards/isbd/docs/elements/isbd/SES/C2025.mdx
  standards/isbd/docs/elements/isbd/SES/C2026.mdx
  standards/isbd/docs/elements/isbd/SES/C2027.mdx
  standards/isbd/docs/elements/isbd/SES/C2028.mdx
  standards/isbd/docs/elements/isbd/SES/index.mdx
  standards/isbd/docs/elements/isbd/SES/test.mdx
  standards/isbd/docs/elements/isbd/general/index.mdx
  standards/isbd/sidebars.ts
  tools/python/isbd-processor/data/ISBD_SES_NotebookLLM.md
Owners: @RG-ISBD-editors

update site scaffolding guidelines
  docs/docusaurus_site_scaffolding/DESIGN-IMPLEMENTATION-EXAMPLES.md
  docs/docusaurus_site_scaffolding/DESIGN-MULTIPLE-ELEMENT-SETS.md
  docs/vocabulary-site-scaffolding-guide.md
Owners: none

create docs 32 and 33 inport/export implementation pla
  system-design-docs/32-phase1-import-export-implementation-plan.md
  system-design-docs/33-spreadsheet-import-export-implementation-checklist.md
Owners: none

fix: resolve ISBD build errors and update SES page styling
  standards/isbd/docs/SES/index.mdx
  standards/isbd/docs/elements/index.mdx
  standards/isbd/docs/elements/isbd/area0/index.mdx
  standards/isbd/docs/elements/isbd/area1/index.mdx
  standards/isbd/docs/elements/isbd/classes/index.mdx
  standards/isbd/docs/elements/isbd/general/P1190.mdx
  standards/isbd/docs/elements/isbd/general/P1191.mdx
  standards/isbd/docs/elements/isbd/general/P1192.mdx
  standards/isbd/docs/elements/isbd/general/P1193.mdx
  standards/isbd/docs/elements/isbd/general/P1194.mdx
  standards/isbd/docs/elements/isbd/general/P1195.mdx
  standards/isbd/docs/elements/isbd/general/P1196.mdx
  standards/isbd/docs/elements/isbd/general/P1197.mdx
  standards/isbd/docs/elements/isbd/general/isbd-elements.mdx
  standards/isbd/docs/index.mdx
  standards/isbd/docs/vocabularies/index.mdx
  standards/isbd/docusaurus.config.ts
Owners: @RG-ISBD-editors

feat: add basePath compliance checker and update API calls to use addBasePath
  .github/workflows/ci.yml
  PHASE1_COMPLETION_REPORT.md
  apps/admin/src/app/(authenticated)/import/ImportWorkflow.tsx
  apps/admin/src/app/api/validate-csv/route.ts
  apps/admin/src/app/layout.tsx
  apps/admin/src/components/import/ImportJobStatus.tsx
  apps/admin/src/lib/services/import-service.ts
  apps/admin/src/lib/supabase/schema.sql
  apps/admin/src/test/utils/test-server-manager.ts
  basepath-violations-checklist.md
  package.json
  pnpm-lock.yaml
  scripts/check-basepath-compliance.js
  scripts/ensure-nx-daemon.js
  scripts/pre-commit-check-optimized.js
  scripts/pre-commit-check.js
  supabase/functions/validate-csv/index.ts
  tools/typescript/rdf-converters/vitest.config.ts
  tsconfig.json
Owners: none

Enhance Vite configuration for improved build performance
  .github/workflows/ci.yml
  .github/workflows/site-validation.yml
  .gitignore
  .husky/pre-push-optimized
  README.md
  apps/admin/vitest.config.server-dependent.ts
  apps/admin/vitest.config.ts
  developer_notes/README.md
  developer_notes/commands-reference.md
  developer_notes/dev-servers-helpers.md
  e2e/playwright.global.ts
  e2e/standards-smoke.spec.ts
  package.json
  packages/dev-servers/README.md
  packages/dev-servers/package.json
  packages/dev-servers/project.json
  packages/dev-servers/src/index.ts
  packages/dev-servers/src/port-manager.ts
  packages/dev-servers/src/server-manager.ts
  packages/dev-servers/src/types.ts
  packages/dev-servers/tsconfig.json
  packages/dev-servers/tsup.config.ts
  packages/theme/src/config/siteConfig.ts
  playwright.config.ts
  pnpm-lock.yaml
  scripts/dev-servers-example.md
  scripts/dev-servers.test.ts
  scripts/dev-servers.ts
  scripts/nx-pre-push-fast.sh
  scripts/nx-pre-push.sh
  scripts/pre-push-check.js
  scripts/utils/port-manager.js
  scripts/vitest.config.ts
  vite.config.ts
  vitest.config.ci-env.ts
  vitest.config.ci.ts
  vitest.config.nx.ts
Owners: none

Optimize monorepo dependencies and build configurations
  dependency-graph.json
  package.json
  packages/dev-servers/package.json
  packages/theme/tsup.config.ts
  scripts/dev-servers.test.ts
  tools/typescript/rdf-converters/package.json
Owners: none

Fix CI/CD pipeline failure: Remove hardcoded pnpm version
  .github/workflows/nx-pr-validation.yml
Owners: none

chore: update pnpm-lock.yaml to sync with dev-servers package dependencies
  pnpm-lock.yaml
Owners: none

Fix remaining TypeScript errors in scripts after dependency updates
  .github/workflows/nx-pr-validation.yml
  apps/admin/postcss.config.js
  apps/admin/src/app/api/validate-csv/route.ts
  apps/admin/src/components/import/ImportJobStatus.tsx
  apps/admin/src/lib/services/dctap-validation.ts
  package.json
  pnpm-lock.yaml
  scripts/check-missing-languages.ts
  scripts/dev-servers.ts
  scripts/populate-from-csv.ts
Owners: none

fix: resolve React version conflicts causing invalid hook call errors
  package.json
  pnpm-lock.yaml
Owners: none

security: fix Dependabot alerts by updating vulnerable dependencies
  package.json
  pnpm-lock.yaml
Owners: none

fix: remove unused development environment from browserslist
  package.json
Owners: none

Clean up GitHub workflows: remove 9 legacy/redundant workflows
  .github/workflows/ci-preview-legacy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev-legacy.yml
  .github/workflows/development-deploy.yml
  .github/workflows/preview-ci.yml
  .github/workflows/site-validation-legacy.yml
  .github/workflows/test-matrix-enhanced.yml
  .github/workflows/test-site-builds-legacy.yml
  .github/workflows/test-site-builds.yml
  WORKFLOW_CLEANUP_SUMMARY.md
Owners: none

Fix CI native binary installation issues
  .github/workflows/nx-optimized-preview.yml
  .npmrc.ci
Owners: none

Fix Nx postinstall hanging in CI with ignore-scripts approach
  .github/workflows/nx-optimized-preview.yml
  .npmrc.ci
Owners: none

Fix package.json issues causing CI installation failures
  package.json
  packages/dev-servers/package.json
Owners: none

update lock file
  pnpm-lock.yaml
Owners: none

Warp RBAC Analysis
  .github/workflows/ci-env-only.yml
  documentation/clerk_only_rbac_analysis.md
  documentation/rbac_summary.md
Owners: none

OpneCode RBAC description and plan
  docs/admin-permission-matrix.md
  docs/admin-rbac-clerk-implementation.md
  docs/admin-rbac-comprehensive-guide.md
  docs/admin-sitemanagement-component-spec.md
Owners: none

claude code RBAC implementation plan
  developer_notes/RBAC_IMPLEMENTATION_GUIDE.md
  system-design-docs/01-system-architecture-overview.md
  system-design-docs/04-development-workflow.md
  system-design-docs/09-collaboration-architecture.md
  system-design-docs/12-rbac-authorization-model.md
  system-design-docs/13-permission-matrix-detailed.md
  system-design-docs/14-clerk-rbac-architecture.md
  system-design-docs/15-cerbos-to-clerk-migration.md
  system-design-docs/15-clerk-rbac-implementation-plan.md
  system-design-docs/README.md
Owners: none

fix: exclude dev-servers tests from global test environment and make them on-demand
  package.json
  packages/dev-servers/project.json
  vitest.config.nx.ts
Owners: none

Update cross-site-auth-communication.e2e.test.ts for Clerk authentication (REDESIGN)
  e2e/admin/cross-site-auth-communication.e2e.test.ts
Owners: none

Partially update dropdown validation for Clerk authentication (REDESIGN in progress)
  e2e/admin/auth-dropdown-validation.e2e.test.ts
Owners: none

Update auth-simple.spec.ts for Clerk authentication (MIGRATE)
  e2e/admin/auth-simple.spec.ts
Owners: none

fix: resolve test configuration conflicts by removing projects from vitest config
  packages/dev-servers/src/browser.test.ts
  packages/dev-servers/src/state-manager.test.ts
  packages/dev-servers/src/tests/setup.ts
  packages/dev-servers/vitest.config.ts
Owners: none

fix: enable browser opening in interactive mode for all sites
  package.json
  packages/dev-servers/src/server-manager.ts
  standards/FRBR/project.json
  standards/ISBDM/project.json
  standards/LRM/project.json
  standards/isbd/project.json
  standards/muldicat/project.json
  standards/newtest/project.json
  standards/unimarc/project.json
Owners: @RG-ISBDM-editors, @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

Update auth-basic.spec.ts for Clerk authentication (MIGRATE)
  e2e/admin/auth-basic.spec.ts
Owners: none

Update auth-roles.spec.ts for Clerk authentication (MIGRATE)
  e2e/admin/auth-roles.spec.ts
Owners: none
