Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors, @RG-ISBD-editors, @RG-TEST-editors

fix: update signout redirect to admin home page and consolidate navbar
  apps/admin/src/app/dashboard/AdminDashboard.tsx
  apps/admin/src/app/dashboard/rg/ReviewGroupDashboard.tsx
  apps/admin/src/components/layout/Navbar.tsx
Owners: none

docs: comprehensive GitHub Teams integration documentation
  docs/admin/EPIC-github-integration-tasks.md
  docs/admin/PRD-github-teams-integration.md
  docs/admin/QUICKSTART-github-integration.md
  docs/admin/github-integration-architecture.md
  docs/admin/implementation-patterns.md
Owners: none

refactor: streamline admin dashboard and authentication flow
  apps/admin/docs/DASHBOARDS.md
  apps/admin/docs/clerk-authentication-setup.md
  apps/admin/src/app/dashboard/PersonalDashboard.tsx
  apps/admin/src/app/dashboard/RoleBasedDashboard.tsx
  apps/admin/src/app/dashboard/admin/page.tsx
  apps/admin/src/app/dashboard/page.tsx
  apps/admin/src/app/dashboard/pending/PendingDashboard.tsx
  apps/admin/src/app/dashboard/pending/page.tsx
  apps/admin/src/app/dashboard/rg/page.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/components/welcome/WelcomePage.tsx
  apps/admin/src/lib/clerk-github-auth.ts
  apps/admin/src/lib/github-mock-service.ts
  apps/admin/src/lib/mock-data/namespaces-extended.ts
  apps/admin/src/test/integration/dashboard-routing.test.ts
  standards/ISBDM/docs/about/index.mdx
Owners: @RG-ISBDM-editors

feat(admin): implement comprehensive import workflow with full test coverage
  .npmrc
  .pnpmrc
  apps/admin/src/app/api/actions/scaffold-from-spreadsheet/__tests__/route.integration.test.ts
  apps/admin/src/app/api/actions/scaffold-from-spreadsheet/route.ts
  apps/admin/src/app/import/ImportWorkflow.tsx
  apps/admin/src/app/import/__tests__/ImportWorkflow.unit.test.tsx
  apps/admin/src/app/import/status/[jobId]/page.tsx
  apps/admin/src/components/import/ImportJobStatus.tsx
  apps/admin/src/lib/services/__tests__/import-service.unit.test.ts
  apps/admin/src/lib/services/import-service.ts
  apps/admin/src/lib/supabase/client.ts
  apps/admin/src/lib/supabase/schema.sql
  docs/admin/CURRENT-IMPLEMENTATION-PLAN.md
  docs/admin/EPIC-vocabulary-management.md
  docs/admin/PRD-vocabulary-import-workflow.md
  docs/admin/import-workflow-test-summary.md
  docs/admin/import-workflow-testing.md
  docs/admin/import-workflow.md
  package.json
  pnpm-lock.yaml
  scripts/setup-supabase.ts
Owners: none

fix: update signout redirect to admin home page and consolidate navbar
  apps/admin/src/app/(authenticated)/dashboard/AdminDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/PersonalDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/RoleBasedDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/SiteManagementClient.tsx
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/admin/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/pending/PendingDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/pending/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/rg/ReviewGroupDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/rg/page.tsx
  apps/admin/src/app/(authenticated)/import/ImportWorkflow.tsx
  apps/admin/src/app/(authenticated)/import/__tests__/ImportWorkflow.unit.test.tsx
  apps/admin/src/app/(authenticated)/import/page.tsx
  apps/admin/src/app/(authenticated)/import/status/[jobId]/page.tsx
  apps/admin/src/app/(authenticated)/layout.tsx
  apps/admin/src/app/(authenticated)/namespaces/NamespacesList.tsx
  apps/admin/src/app/(authenticated)/namespaces/[namespace]/NamespaceDashboard.tsx
  apps/admin/src/app/(authenticated)/namespaces/[namespace]/page.tsx
  apps/admin/src/app/(authenticated)/namespaces/page.tsx
  apps/admin/src/app/(authenticated)/profiles/ProfilesManager.tsx
  apps/admin/src/app/(authenticated)/profiles/page.tsx
  apps/admin/src/app/namespaces/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/test/components/SiteManagementClient.test.tsx
  docs/admin/PRD-vocabulary-import-workflow.md
  docs/admin/import-workflow.md
  docs/admin/vocabulary-management-flow.md
Owners: none

fix: GitHub authentication and basePath handling in admin app
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/sign-in/[[...sign-in]]/page.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/middleware.ts
Owners: none

refactor: transform site management to namespace management dashboard
  CLAUDE.md
  GITHUB_OAUTH_CALLBACK_FIX.md
  GITHUB_OAUTH_FIX_SUMMARY.md
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/NamespaceManagementClient.tsx
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/author/AuthorDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/author/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/editor/EditorDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/editor/page.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/page.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/components/ui/alert.tsx
  apps/admin/src/lib/clerk-github-auth.ts
  docs/IFLA Review Groups and related namespaces.md
  docs/admin/CLERK_GITHUB_ADMIN_SETUP.md
  docs/admin/CLERK_SETUP_GUIDE_extra.md
  docs/admin/DASHBOARDS.md
  docs/admin/clerk-authentication-setup.md
  docs/admin/import-workflow.md
  docs/admin/server-dependent-testing.md
Owners: none

refactor: complete namespace terminology alignment across dashboards
  apps/admin/src/app/(authenticated)/dashboard/RoleBasedDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/SiteManagementClient.tsx
  apps/admin/src/test/components/NamespaceManagementClient.test.tsx
Owners: none

feat(admin): implement adopt existing spreadsheet feature for superadmins
  apps/admin/src/app/(authenticated)/dashboard/AdminDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/AdoptSpreadsheetForm.tsx
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/page.tsx
  apps/admin/src/app/api/admin/adopt-spreadsheet/route.ts
  apps/admin/src/lib/services/adoption-service.test.ts
  apps/admin/src/lib/services/adoption-service.ts
  apps/admin/src/lib/supabase/client.ts
Owners: none

test: remove adoption-service test cases and pnpm-lock file cleanup
  apps/admin/.gitignore
  apps/admin/package.json
  apps/admin/src/app/api/actions/scaffold-from-spreadsheet/__tests__/route.integration.test.ts
  apps/admin/src/app/api/health/route.ts
  apps/admin/src/lib/services/__tests__/adoption-service.test.ts
  apps/admin/src/lib/services/__tests__/adoption-service.unit.test.ts
  apps/admin/src/lib/services/__tests__/import-service.unit.test.ts
  apps/admin/src/middleware.ts
  apps/admin/src/test/components/NamespaceManagementClient.test.tsx
  apps/admin/src/test/integration/server-dependent/basic-server-test.test.ts
  apps/admin/src/test/integration/server-dependent/cors-integration.test.ts
  apps/admin/src/test/integration/server-dependent/cross-site-auth.test.ts
  apps/admin/src/test/setup.ts
  apps/admin/src/test/utils/test-server-manager.ts
  apps/admin/src/test/utils/test-utils.tsx
  apps/admin/vitest.config.ts
  package.json
  packages/theme/package.json
  pnpm-lock.yaml
Owners: none

deleted redundant isbd csv
  standards/isbd/rdf/ttl/csv/isbd.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/elements.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/terms/contentform.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/terms/contentformbase.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/terms/contentqualification/dimensionality.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/terms/contentqualification/motion.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/terms/contentqualification/sensoryspecfication.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/terms/contentqualification/type.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/terms/mediatype.csv
  standards/isbd/rdf/ttl/csv/ns/isbd/unc/elements.csv
Owners: @RG-ISBD-editors

document DCTAP extensions
  docs/admin/DCTAP_EXTENSIONS_SPEC.md
Owners: none

feat: implement spreadsheet adoption birth certificate and ISBD DCTAP profiles
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/AdoptSpreadsheetForm.tsx
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/AdoptSpreadsheetFormV2.tsx
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/page.tsx
  apps/admin/src/app/api/admin/adopt-spreadsheet/route.ts
  apps/admin/src/lib/mock-data/dctap-profiles.ts
  apps/admin/src/lib/services/adoption-service.ts
  standards/ISBDM/static/data/README.md
  standards/isbd/static/data/DCTAP/isbd-concepts-profile.csv
  standards/isbd/static/data/DCTAP/isbd-elements-profile.csv
  standards/isbd/static/data/contexts/isbd-concepts.jsonld
  standards/isbd/static/data/contexts/isbd-elements.jsonld
Owners: @RG-ISBDM-editors, @RG-ISBD-editors

fix: resolve validation issues in import workflow
  apps/admin/src/app/api/admin/adopt-spreadsheet/route.ts
  apps/admin/src/app/api/admin/validate-spreadsheet/route.ts
  apps/admin/src/lib/services/adoption-service.ts
  apps/admin/src/lib/services/dctap-validation.ts
  apps/admin/src/lib/services/import-service.ts
Owners: none

Add ISBD documentation and cross-set search mockups.
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/AdoptSpreadsheetFormV2.tsx
  apps/admin/src/lib/services/dctap-validation.ts
  docs/DESIGN-IMPLEMENTATION-EXAMPLES.md
  docs/DESIGN-MULTIPLE-ELEMENT-SETS.md
  docs/DESIGN-UI-COMPONENTS.md
  docs/UI-MOCKUPS-README.md
  docs/ui-mockups/cross-set-search.svg
  docs/ui-mockups/element-comparison.svg
  docs/ui-mockups/element-set-browser.svg
  docs/ui-mockups/namespace-hub.svg
  docs/ui-mockups/unimarc-navigation.svg
Owners: none

fix: correct indentation syntax error in vite.config.ts
  vite.config.ts
Owners: none

configuring nx, sort package.json
  .husky/pre-commit
  ifla-standards.code-workspace
  nx.json
  package.json
  pnpm-lock.yaml
  reset-nx.sh
Owners: none

mcp
  .gitignore
  .kiro/settings/mcp.json
Owners: none

detailed spec developed by Gemini
  .gitignore
  docs/OMR25_VOCAB_MGMT_SPEC.md
Owners: none

update spec with bootstrapping
  docs/OMR25_VOCAB_MGMT_SPEC.md
Owners: none

add updating tooling as first step
  docs/OMR25_VOCAB_MGMT_SPEC.md
Owners: none

new kiro spec
  .kiro/specs/omr25-vocabulary-management/requirements.md
Owners: none

additional acceptance criteria
  .kiro/specs/omr25-vocabulary-management/requirements.md
Owners: none

add kiro specs and tasks
  .kiro/specs/omr25-vocabulary-management/design.md
  .kiro/specs/omr25-vocabulary-management/tasks.md
Owners: none

more kiro front end docusaurus docs
  .kiro/specs/vocabulary-site-scaffolding/design.md
  .kiro/specs/vocabulary-site-scaffolding/requirements.md
  .kiro/specs/vocabulary-site-scaffolding/tasks.md
  developer_notes/ifla_standards_complete.json
  developer_notes/ifla_standards_report.md
  docs/ifla_standards_complete.json
  docs/ifla_standards_report.md
  scripts/scaffold-data-import-site.ts
Owners: none

move design implementation docs
  docs/docusaurus_site_scaffolding/DESIGN-IMPLEMENTATION-EXAMPLES.md
  docs/docusaurus_site_scaffolding/DESIGN-MULTIPLE-ELEMENT-SETS.md
  docs/docusaurus_site_scaffolding/DESIGN-UI-COMPONENTS.md
  docs/docusaurus_site_scaffolding/UI-MOCKUPS-README.md
  docs/docusaurus_site_scaffolding/ifla_standards_report.md
  docs/docusaurus_site_scaffolding/ui-mockups/cross-set-search.svg
  docs/docusaurus_site_scaffolding/ui-mockups/element-comparison.svg
  docs/docusaurus_site_scaffolding/ui-mockups/element-set-browser.svg
  docs/docusaurus_site_scaffolding/ui-mockups/namespace-hub.svg
  docs/docusaurus_site_scaffolding/ui-mockups/unimarc-navigation.svg
Owners: none

optimize nx workflows for 5 phasse testing
  .github/workflows/ci-env-only.yml
  .github/workflows/nx-optimized-preview.yml
  .github/workflows/nx-optimized-production.yml
  .nxdaemonrc
  CLAUDE.md
  README.md
  developer_notes/GITHUB_SECRETS_REQUIRED.md
  developer_notes/NX_AFFECTED_TEST_OPTIMIZATION.md
  developer_notes/NX_DAEMON_SETUP.md
  developer_notes/TESTING_STRATEGY.md
  developer_notes/TEST_PLACEMENT_GUIDE.md
  developer_notes/TEST_TEMPLATES.md
  developer_notes/VITEST_CONFIGURATION.md
  package.json
  packages/theme/project.json
  packages/theme/src/tests/deployment/ci-config.test.ts
  packages/theme/src/tests/deployment/env-deployment.test.ts
  packages/theme/src/tests/deployment/supabase-cerbos-keys.test.ts
  vite.config.ts
  vitest.config.ci-env.ts
  vitest.config.ci.ts
  vitest.config.nx.ts
Owners: none

setup allow tests in scripts
  scripts/ci-env-tests.js
  scripts/ensure-nx-daemon.js
  scripts/nx-daemon-health.js
  scripts/nx-test.js
  scripts/nx-validate-sidebar-references.ts
  scripts/pre-commit-check.js
  scripts/pre-push-check.js
  scripts/project.json
  scripts/test-with-daemon.js
  scripts/tsconfig.json
  scripts/vitest.config.ts
Owners: none

namespace site generator scripts
  .kiro/specs/vocabulary-site-scaffolding-enhancement/tasks.md
  .kiro/steering/Testiing strategy.md
  .kiro/steering/development-workflow.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  developer_notes/current-scaffolding-plan.md
  docs/vocabulary-site-scaffolding-fix.md
  docs/vocabulary-site-scaffolding-guide.md
  docs/vocabulary-site-scaffolding-quick-reference.md
  scripts/README.md
  scripts/fix-page-template-generator.ts
  scripts/generate-vocabulary-sites.ts
  scripts/nx-validate-sidebar-references.ts
  scripts/page-template-generator-fix.ts
  scripts/page-template-generator-integration.test.ts
  scripts/page-template-generator.enhanced.test.ts
  scripts/page-template-generator.integration.test.ts
  scripts/test-file-structure-validation.ts
  scripts/utils/file-structure-validator.test.ts
  scripts/utils/file-structure-validator.ts
  scripts/validate-sidebar-references.test.ts
Owners: none

docs: Update CLAUDE.md files for better monorepo guidance
  CLAUDE.md
  apps/admin/CLAUDE.md
Owners: none

fix: Resolve pre-commit performance issues and Nx optimization problems
  package.json
  packages/theme/project.json
  scripts/optimize-nx-performance.js
  scripts/pre-commit-check-fast.js
  scripts/pre-commit-check-optimized.js
  scripts/pre-commit-check-smart.js
Owners: none

fix: resolve performance issues with nx optimization and pre-commit hooks
  .prettierignore
  FINAL_FIX_START_ALL.md
  FIX_START_ALL_RECURSION.md
  README.md
  apps/admin/next.config.js
  apps/admin/src/app/layout.tsx
  apps/admin/src/components/auth/SafeSignInButton.tsx
  apps/admin/src/components/welcome/WelcomePage.tsx
  apps/admin/src/lib/services/__tests__/adoption-service.test.ts
  apps/admin/src/lib/services/__tests__/adoption-service.unit.test.ts
  dep-graph.json
  developer_notes/VITEST_CONFIGURATION.md
  nx.json
  packages/theme/CLAUDE.md
  pnpm-lock.yaml
  project.json
  scripts/start-all-direct.js
  scripts/validate-vitest-config.js
  standards/CLAUDE.md
  standards/test-integration/docs/elements/element-set-1/index.mdx
  standards/test-integration/docs/vocabularies/vocabulary-1.mdx
  start-all.sh
  theme-deps.json
Owners: none

feat: Move RDF converters to dedicated package structure
  developer_notes/TEMPLATE_SYSTEM.md
  package.json
  scripts/populate-from-csv.ts
  standards/isbd/templates/README.md
  standards/isbd/templates/config.json
  standards/isbd/templates/element-index.mdx
  standards/isbd/templates/element.mdx
  standards/isbd/templates/vocabulary.mdx
  tools/typescript/rdf-converters/.eslintignore
  tools/typescript/rdf-converters/.eslintrc.js
  tools/typescript/rdf-converters/IMPLEMENTATION_PLAN.md
  tools/typescript/rdf-converters/README.md
  tools/typescript/rdf-converters/TASK_CHECKLIST.md
  tools/typescript/rdf-converters/package.json
  tools/typescript/rdf-converters/src/index.ts
  tools/typescript/rdf-converters/src/lib/types.ts
  tools/typescript/rdf-converters/src/rdf-folder-to-csv.ts
  tools/typescript/rdf-converters/src/rdf-to-csv.ts
  tools/typescript/rdf-converters/tests/fixtures/elements/minimal/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/elements/minimal/input.ttl
  tools/typescript/rdf-converters/tests/fixtures/elements/minimal/profile.csv
  tools/typescript/rdf-converters/tests/rdf-folder-to-csv.test.ts
  tools/typescript/rdf-converters/tests/rdf-to-csv.test.ts
  tools/typescript/rdf-converters/tsconfig.json
  tools/typescript/rdf-converters/vitest.config.ts
Owners: @RG-ISBD-editors

refactor: Extract RDF converter logic into reusable modules
  tools/typescript/rdf-converters/src/index.ts
  tools/typescript/rdf-converters/src/lib/dctap.ts
  tools/typescript/rdf-converters/src/lib/generator.ts
  tools/typescript/rdf-converters/src/lib/index.ts
  tools/typescript/rdf-converters/src/lib/parser.ts
  tools/typescript/rdf-converters/src/rdf-folder-to-csv.ts
  tools/typescript/rdf-converters/src/rdf-to-csv.ts
Owners: none

feat(rdf-converters): Add DCTAP extension test fixtures and fix CLI args
  tools/typescript/rdf-converters/src/rdf-folder-to-csv.ts
  tools/typescript/rdf-converters/src/rdf-to-csv.ts
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/README.md
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/language-tags/expected-errors.json
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/language-tags/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/language-tags/input.ttl
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/language-tags/profile.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mandatory-fields/expected-errors.json
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mandatory-fields/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mandatory-fields/input.ttl
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mandatory-fields/profile.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mixed-formats/expected-errors.json
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mixed-formats/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mixed-formats/input.ttl
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mixed-formats/notes.md
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mixed-formats/profile.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/registry-properties/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/registry-properties/input.ttl
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/registry-properties/notes.md
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/registry-properties/profile.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-array/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-array/input.ttl
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-array/notes.md
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-array/profile.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-csv/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-csv/input.ttl
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-csv/notes.md
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-csv/profile.csv
Owners: none

feat(rdf-converters): implement DCTAP extensions for RDF to CSV conversion
  tools/typescript/rdf-converters/TASK_CHECKLIST.md
  tools/typescript/rdf-converters/src/lib/dctap.ts
  tools/typescript/rdf-converters/src/lib/generator.ts
  tools/typescript/rdf-converters/src/rdf-to-csv.ts
  tools/typescript/rdf-converters/tests/dctap-extensions.test.ts
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/language-tags/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mandatory-fields/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/mixed-formats/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/registry-properties/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-array/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/dctap-extensions/repeatable-csv/expected.csv
  tools/typescript/rdf-converters/tests/fixtures/elements/minimal/expected.csv
Owners: none

feat(rdf-converters): implement RDF to MDX pipeline integration
  tools/typescript/rdf-converters/README.md
  tools/typescript/rdf-converters/TASK_CHECKLIST.md
  tools/typescript/rdf-converters/package.json
  tools/typescript/rdf-converters/src/rdf-to-mdx-pipeline.ts
  tools/typescript/rdf-converters/tests/fixtures/elements/minimal/profile.csv
  tools/typescript/rdf-converters/tests/rdf-to-mdx-pipeline.test.ts
Owners: none

brand new integrated, analyzed documentation
  system-design-docs/00-executive-summary.md
  system-design-docs/01-system-architecture-overview.md
  system-design-docs/02-data-architecture.md
  system-design-docs/03-configuration-architecture.md
  system-design-docs/04-development-workflow.md
  system-design-docs/05-api-architecture.md
  system-design-docs/06-testing-strategy.md
  system-design-docs/07-subsystems-architecture.md
  system-design-docs/08-architecture-evolution.md
  system-design-docs/09-collaboration-architecture.md
  system-design-docs/10-implementation-strategy.md
  system-design-docs/11-discussion-points.md
  system-design-docs/12-environment-strategy-final.md
  system-design-docs/13-environment-migration-guide.md
  system-design-docs/14-repository-structure-current.md
  system-design-docs/15-tinacms-integration-design.md
  system-design-docs/16-tinacms-poc-guide.md
  system-design-docs/17-tinacms-integration-architecture.md
  system-design-docs/18-multilingual-strategy-design.md
  system-design-docs/19-edit-permissions-workflow.md
  system-design-docs/20-translation-workflow-integration.md
  system-design-docs/21-vocabulary-server-requirements.md
  system-design-docs/22-omr25-comparison-analysis.md
  system-design-docs/23-mdx-generation-safety-design.md
  system-design-docs/24-admin-ui-api-specification.md
  system-design-docs/25-design-system-specification.md
  system-design-docs/26-ui-component-patterns.md
  system-design-docs/27-mvp-critical-path.md
  system-design-docs/28-isbd-csv-to-mdx-plan.md
  system-design-docs/README.md
  tools/typescript/rdf-converters/docs/PHASE4_EPIC_BREAKDOWN.md
  tools/typescript/rdf-converters/docs/PHASE4_PIPELINE_INTEGRATION_PLAN.md
Owners: none

feat(docs): consolidate system design documentation and add project index
  IFLA_OMR25_link
  PROJECT_INDEX.md
  ifla_server_link
  scripts/page-template-generator-fix.ts
  scripts/page-template-generator.ts
  system-design-docs/11-design-system-and-ui-patterns.md
  system-design-docs/27-mvp-critical-path.md
  system-design-docs/29-admin-dashboard-mockup-reference.md
  system-design-docs/30-integration-prd-alignment-analysis.md
  system-design-docs/31-multi-element-set-architecture.md
  system-design-docs/CONSOLIDATION-MAPPING-TABLE.md
  system-design-docs/CONSOLIDATION-PLAN.md
  system-design-docs/PRD-CONFORMANCE-REPORT.md
Owners: none

ffix the lint on components
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/AdoptSpreadsheetFormV2.tsx
  apps/admin/src/components/auth/SafeSignInButton.tsx
  packages/theme/src/components/NamespaceHub/index.tsx
Owners: none

.github/CODEOWNERS:

/standards/ISBDM/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/LRM/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors
/standards/isbd/** @RG-ISBD-editors


/standards/test/** @RG-TEST-editors
