Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors, @RG-ISBD-editors, @RG-TEST-editors

.github/CODEOWNERS:

/standards/ISBDM/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/LRM/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors
/standards/isbd/** @RG-ISBD-editors


/standards/test/** @RG-TEST-editors

fix(cerbos): correct .cerbos-hub.yaml structure
  .cerbos-hub.yaml
Owners: none

fix(cerbos): align .cerbos-hub.yaml with documented schema
  .cerbos-hub.yaml
Owners: none

feat(cerbos): Update deployment labels to match CI targets
  .cerbos-hub.yaml
  developer_notes/admin-portal-authentication-architecture.md
Owners: none

feat(cerbos): Add resource schema definitions
  cerbos/policies/schemas/namespace.json
  cerbos/policies/schemas/site.json
  cerbos/policies/schemas/translation.json
  cerbos/policies/schemas/user_admin.json
Owners: none

fix(cerbos): Rename schemas directory to _schemas
  cerbos/_schemas/namespace.json
  cerbos/_schemas/site.json
  cerbos/_schemas/translation.json
  cerbos/_schemas/user_admin.json
Owners: none

fix(cerbos): Remove 'title' field from schemas
  cerbos/_schemas/namespace.json
  cerbos/_schemas/site.json
  cerbos/_schemas/translation.json
  cerbos/_schemas/user_admin.json
Owners: none

feat(cerbos): Move fixtures to root directory
  .gitignore
  fixtures/resources/namespaces.yaml
  fixtures/resources/sites.yaml
  fixtures/test-scenarios.yaml
  fixtures/users/editors-reviewers.yaml
  fixtures/users/namespace-admin.yaml
  fixtures/users/site-admin.yaml
  fixtures/users/system-admin.yaml
  fixtures/users/translators.yaml
Owners: none

feat(cerbos): Add principal schema definition
  .gitignore
  cerbos/_schemas/principal.json
Owners: none

fix(cerbos): Correct schema references in policies
  cerbos/policies/resource_namespace.yaml
  cerbos/policies/resource_site.yaml
  cerbos/policies/resource_translation.yaml
  cerbos/policies/resource_user_admin.yaml
Owners: none

feat(admin): implement comprehensive RBAC testing and mock auth
  .eslintignore
  COMMIT_MSG.tmp
  apps/admin-portal/next.config.js
  apps/admin-portal/package.json
  apps/admin-portal/project.json
  apps/admin-portal/src/app/api/admin/roles/route.ts
  apps/admin-portal/src/app/api/admin/users/route.ts
  apps/admin-portal/src/app/components/mock-user-indicator.tsx
  apps/admin-portal/src/app/hooks/useInactivityLogout.ts
  apps/admin-portal/src/app/layout.tsx
  apps/admin-portal/src/app/lib/auth.ts
  apps/admin-portal/src/app/lib/mock-auth.ts
  apps/admin-portal/src/lib/cerbos.ts
  apps/admin-portal/src/lib/roles.ts
  apps/admin-portal/src/test/integration/site-management.integration.test.tsx
  apps/admin-portal/src/test/mocks/components.tsx
  cerbos/policies/schemas/namespace.json
  cerbos/policies/schemas/site.json
  cerbos/policies/schemas/translation.json
  cerbos/policies/schemas/user_admin.json
  e2e/admin-portal/rbac-scenarios.e2e.test.ts
  e2e/utils/auth-helpers.ts
  eslint.config.mjs
  nx.json
  pnpm-lock.yaml
  portal/project.json
  scripts/test-admin-roles.js
Owners: none

feat(rbac): implement role-based pre-authentication and intelligent routing
  apps/admin-portal/middleware.ts
  apps/admin-portal/next-auth-types.d.ts
  apps/admin-portal/package.json
  apps/admin-portal/src/app/api/admin/roles/route.ts
  apps/admin-portal/src/app/api/admin/users/route.ts
  apps/admin-portal/src/app/auth/signin/page.tsx
  apps/admin-portal/src/app/components/sign-in-with-mock.tsx
  apps/admin-portal/src/app/layout.tsx
  apps/admin-portal/src/app/lib/auth.ts
  apps/admin-portal/src/app/lib/role-based-routing.ts
  pnpm-lock.yaml
  scripts/test-admin-roles.js
Owners: none

feat(auth): add GitHub sign-in action and update user type definitions. Trim and backup claude.md
  CLAUDE.md
  CLAUDE.md.backup
  apps/admin-portal/middleware.ts
  apps/admin-portal/src/app/components/sign-in-with-mock.tsx
  apps/admin-portal/src/app/components/sign-in.tsx
  apps/admin-portal/src/app/lib/actions.ts
  apps/admin-portal/src/app/lib/auth.ts
  apps/admin-portal/src/app/lib/role-based-routing.ts
  apps/admin-portal/tsconfig.json
  static/favicon.ico
  static/main.js
  static/runtime.js
  static/styles.css
  static/styles.js
Owners: none

refactor(rbac): replace namespace terminology with review group (rg)
  CLAUDE.md
  apps/admin-portal/src/app/api/admin/roles/route.ts
  apps/admin-portal/src/app/lib/role-based-routing.ts
  apps/admin-portal/src/lib/roles.ts
  cerbos/_schemas/principal.json
  cerbos/_schemas/rg.json
  cerbos/_schemas/site.json
  cerbos/_schemas/user_admin.json
  cerbos/policies/derived_roles.yaml
  cerbos/policies/resource_rg.yaml
  cerbos/policies/resource_site.yaml
  cerbos/policies/resource_translation.yaml
  cerbos/policies/resource_user_admin.yaml
  developer_notes/rbac-implementation-plan.md
Owners: none

fix(rbac): update review group mappings to match IFLA structure
  CLAUDE.md
  apps/admin-portal/src/app/lib/role-based-routing.ts
  developer_notes/rbac-implementation-plan.md
  e2e/utils/auth-helpers.ts
Owners: none

claude/agents cleanup
  AGENTS.md
  CLAUDE.md
  CLAUDE.md.backup
  CLAUDE.md.cleaned
  CLAUDE.md.mini
  COMMIT_MSG.tmp
Owners: none

fresh documentation
  IFLA Review Groups and related namespaces.md
  developer_notes/IFLA Authorizations.md
  developer_notes/comprehensive-prd.md
  developer_notes/ifla-review-groups-structure.md
  developer_notes/ifla-standards-development-workflow.md
  developer_notes/implementation-epics.md
Owners: none

add documentation
  developer_notes/comprehensive-prd.md
  developer_notes/executive-briefing-ifla-platform-transformation.md
  developer_notes/executive-briefing-narrative.md
  developer_notes/implementation-epics.md
Owners: none

sort package.json
  package.json
Owners: none

refactor docs
  developer_notes/Clean 2025 Refactor – MASTER TASK LIST (v1.1).md
  standards-dev_project_structure.txt
Owners: none

test(accessibility): replace text-based selectors with ARIA roles in site management tests
  apps/admin-portal/src/test/components/SiteManagementClient.test.tsx
  apps/admin-portal/src/test/integration/site-management.integration.test.tsx
Owners: none

install knip & ts-unused-export
  .npmrc
  package.json
  pnpm-lock.yaml
Owners: none

feat: add initial HTML files for Nx Workspace project graph and dependency graph
  <FILE_PATH>packages/theme/src/components/AuthStatus.tsx</FILE_PATH>
  <FILE_PATH>packages/theme/src/hooks/useAdminSession.ts</FILE_PATH>
  dependency-graph.json
  developer_notes/standards-dev_project_structure.txt
  output/CLAUDE.md.cleaned
  output/CLAUDE.md.mini
  output/_unused.txt
  output/dependency-graph.html
  output/depgraph.html
  output/knip-report.txt
  output/nx-graph.html
  playwright-snapshots.config.ts
  playwright.config.pre-push.ts
  playwright.config.ts
  project.json
Owners: none

feat: add .nxignore and project.json for Nx Workspace configuration
  .nxignore
  project.json
Owners: none

docs: add phase 0 test reports and execution logs
  reports/phase0/test-execution-log.md
  reports/phase0/test-summary.md
  reports/phase0/vitest-results.json
Owners: none

scaffold tools, docs, tools
  api/README.md
  api/admin/README.md
  api/auth/README.md
  api/rdf/README.md
  api/sheets/README.md
  docs/README.md
  docs/api/README.md
  docs/architecture/README.md
  docs/workflows/README.md
  tools/README.md
  tools/python/README.md
  tools/python/language-detection/README.md
  tools/python/quality-assurance/README.md
  tools/typescript/README.md
  tools/typescript/rdf-converters/README.md
  tools/typescript/site-generators/README.md
  tools/typescript/vocabulary-tools/README.md
Owners: none

feat: integrate sheet-sync tool into Nx workspace with Vitest
  nx.json
  package.json
  pnpm-lock.yaml
  tools/sheet-sync/README.md
  tools/sheet-sync/package.json
  tools/sheet-sync/project.json
  tools/sheet-sync/src/index.test.ts
  tools/sheet-sync/src/index.ts
  tools/sheet-sync/test.ts
  tools/sheet-sync/tsconfig.json
  tools/sheet-sync/tsconfig.lib.json
  tools/sheet-sync/vite.config.ts
  tsconfig.json
Owners: none

fix: correct theme package dist path and consolidate dependencies
  apps/admin-portal/package.json
  nx.json
  package.json
  packages/standards-cli/package.json
  packages/theme/project.json
  packages/theme/tsconfig.build.json
  packages/theme/tsconfig.build.tsbuildinfo
  packages/theme/tsconfig.declarations.json
  pnpm-lock.yaml
  tools/sheet-sync/package.json
Owners: none

refactor: update tsconfig.json for improved build configuration and path management
  apps/admin-portal/project.json
  apps/admin-portal/tsconfig.json
  packages/theme/tsconfig.json
  packages/theme/tsconfig.tsbuildinfo
  portal/tsconfig.json
  standards/FRBR/tsconfig.json
  standards/ISBDM/tsconfig.json
  standards/LRM/tsconfig.json
  standards/isbd/tsconfig.json
  standards/muldicat/tsconfig.json
  standards/newtest/tsconfig.json
  standards/unimarc/tsconfig.json
Owners: @RG-ISBDM-editors, @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

refactor: streamline project.json and tsup.config.ts for improved build and test configurations
  packages/theme/project.json
  packages/theme/tsup.config.ts
Owners: none

feat: implement advanced Nx optimization with task sharding and build result caching
  nx.json
  package.json
  pnpm-lock.yaml
Owners: none

feat: add circular-deps.json to capture dependency graph details for all projects
  .nx/dependency-graph.json
  .nx/performance-report.json
  nx.json
  output/circular-deps.json
  packages/theme/project.json
  standards/FRBR/project.json
  standards/LRM/project.json
  standards/isbd/project.json
  standards/muldicat/project.json
  standards/newtest/project.json
  standards/unimarc/project.json
Owners: @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

refactor: remove mockData.ts and update admin project naming conventions
  AGENTS.md
  CLAUDE.md
  apps/admin-portal/src/test/fixtures/mockData.ts
  project.json
Owners: none

chore: add tsconfig.spec.json for sheet-sync testing configuration
  tools/sheet-sync/tsconfig.spec.json
Owners: none

update docs with correct admin name
  developer_notes/Clean 2025 Refactor – MASTER TASK LIST (v1.1).md
  developer_notes/comprehensive-prd.md
Owners: none

fix most of the remaining admin-portal references
  apps/admin/package.json
  apps/admin/scripts/test-examples.sh
  apps/admin/src/app/api/admin/roles/route.ts
  apps/admin/src/app/api/admin/users/route.ts
  apps/admin/src/app/components/mock-user-indicator.tsx
  apps/admin/src/app/lib/mock-auth.ts
  apps/admin/src/lib/cerbos.ts
  apps/admin/src/lib/roles.ts
  e2e/admin/rbac-scenarios.e2e.test.ts
  packages/theme/src/components/AuthStatus.tsx
  packages/theme/src/hooks/useAdminSession.ts
  packages/theme/tsconfig.tsbuildinfo
  scripts/demo-admin-integration.sh
  scripts/demo-admin-simple.js
  scripts/test-admin-roles.js
Owners: none

make sure local environment has admin tah for admin portal
  apps/admin/next.config.js
  packages/theme/src/config/siteConfig.ts
  scripts/demo-admin-integration.sh
  scripts/demo-admin-simple.js
Owners: none

update gitconfig
  .gitignore
Owners: none

update site config and nx.json for branch name change
  nx.json
  packages/theme/src/config/siteConfig.ts
  packages/theme/tsconfig.tsbuildinfo
Owners: none

Initial commit
  README.md
Owners: none

add vercel.json file
  vercel.json
Owners: none
