Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors, @RG-ISBD-editors, @RG-TEST-editors

fix: add GitHub workflow permissions for issue/PR comments
  .github/workflows/check-warnings.yml
Owners: none

fix(ci): resolve E2E test module resolution failures
  e2e/examples/multi-site-testing.spec.ts
  e2e/integration/site-validation.integration.spec.ts
Owners: none

install agent OS
  .agent-os/instructions/core/analyze-product.md
  .agent-os/instructions/core/create-spec.md
  .agent-os/instructions/core/create-tasks.md
  .agent-os/instructions/core/execute-task.md
  .agent-os/instructions/core/execute-tasks.md
  .agent-os/instructions/core/plan-product.md
  .agent-os/instructions/core/post-execution-tasks.md
  .agent-os/instructions/meta/post-flight.md
  .agent-os/instructions/meta/pre-flight.md
  .agent-os/standards/best-practices.md
  .agent-os/standards/code-style.md
  .agent-os/standards/code-style/css-style.md
  .agent-os/standards/code-style/html-style.md
  .agent-os/standards/code-style/javascript-style.md
  .agent-os/standards/tech-stack.md
  .claude/agents/context-fetcher.md
  .claude/agents/date-checker.md
  .claude/agents/file-creator.md
  .claude/agents/git-workflow.md
  .claude/agents/project-manager.md
  .claude/agents/test-runner.md
  .claude/commands/analyze-product.md
  .claude/commands/create-spec.md
  .claude/commands/create-tasks.md
  .claude/commands/execute-tasks.md
  .claude/commands/plan-product.md
  archives/script-inventory-2025-01/IMPLEMENTATION_SUMMARY.md
Owners: none

feat: align Next.js standards with architectural guidance
  .agent-os/standards/code-style.md
  .agent-os/standards/nextjs/code-style.md
  .agent-os/standards/nextjs/components.md
  .agent-os/standards/nextjs/data-flow.md
  .agent-os/standards/nextjs/feature-factory.md
  .agent-os/standards/nextjs/testing.md
Owners: none

feat: complete Agent OS standards framework implementation
  .agent-os/config.yaml
  .agent-os/standards/best-practices.md
  .agent-os/standards/docusaurus/code-style.md
  .agent-os/standards/docusaurus/components.md
  .agent-os/standards/docusaurus/content-standards.md
  .agent-os/standards/docusaurus/multi-site.md
  .agent-os/standards/docusaurus/testing.md
  .agent-os/standards/shared/accessibility-compliance.md
  .agent-os/standards/shared/development-workflow.md
  .agent-os/standards/shared/git-workflow.md
  .agent-os/standards/shared/testing-principles.md
  .agent-os/standards/tech-stack.md
Owners: none

refactor: compress CLAUDE.md for 75% token reduction
  CLAUDE.md
Owners: none

fix(ci): resolve pnpm/action-setup@v4 429 rate limiting issues
  .github/workflows/check-links.yml
  .github/workflows/check-warnings.yml
  .github/workflows/ci-health-check.yml
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/simple-deploy.yml
Owners: none

fix(ci): resolve pnpm version conflict and add caching
  .github/workflows/check-links.yml
  .github/workflows/check-warnings.yml
  .github/workflows/ci-health-check.yml
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
  .github/workflows/simple-deploy.yml
Owners: none

update dependabot config
  .github/dependabot.yml
Owners: none

update agent-os
  .agent-os/product/decisions.md
  .agent-os/product/mission-lite.md
  .agent-os/product/mission.md
  .agent-os/product/roadmap.md
  .agent-os/product/tech-stack.md
Owners: none

feat: implement GitHub issue templates with modal choice interface
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-issue.yml
  .github/SME_ISSUE_REPORTING_GUIDE.md
  packages/theme/src/components/EditChoiceModal/index.tsx
  packages/theme/src/components/EditChoiceModal/styles.module.scss
  packages/theme/src/components/index.ts
  packages/theme/src/tests/components/EditChoiceModal.test.tsx
  packages/theme/tsup.config.ts
  standards/FRBR/src/theme/Root.tsx
  standards/LRM/src/theme/Root.tsx
  standards/isbd/src/theme/Root.tsx
  standards/muldicat/src/theme/Root.tsx
  standards/unimarc/src/theme/Root.tsx
Owners: @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

fix(docs): escape angle brackets in MDX specs for proper compilation
  docs/DCTAP_MANAGEMENT_INTERFACE_SPEC.mdx
  docs/JOB_MANAGEMENT_ACTIVITY_LOG_SPEC.mdx
  docs/TINACMS_INTEGRATION_SPEC.mdx
Owners: none

fix: resolve EditChoiceModal interception and correct repository URLs
  .playwright-mcp/isbdm-intro-page.png
  developer_notes/mui-to-antd-migration-plan.md
  packages/theme/src/components/EditChoiceModal/index.tsx
  packages/theme/src/tests/components/EditChoiceModal.test.tsx
  scripts/discover-refactorable-code.ts
  standards/ISBDM/docusaurus.config.ts
  standards/ISBDM/src/theme/Root.tsx
Owners: @RG-ISBDM-editors

fix: improve EditChoiceModal visual display with portal rendering
  packages/theme/src/components/EditChoiceModal/index.tsx
  packages/theme/src/components/EditChoiceModal/styles.module.scss
Owners: none

correct the styles on the edit coice modal
  .playwright-mcp/modal-fixed.png
  packages/theme/src/components/EditChoiceModal/index.tsx
  packages/theme/src/components/EditChoiceModal/styles.module.scss
  packages/theme/src/tests/components/EditChoiceModal.test.tsx
Owners: none

rearrange muldicat
  standards/muldicat/vocabs/rdf/elements/.gitkeep
  standards/muldicat/vocabs/rdf/muldicat.jsonld
  standards/muldicat/vocabs/rdf/muldicat.nt
  standards/muldicat/vocabs/rdf/muldicat.ttl
  standards/muldicat/vocabs/rdf/muldicat.xml
  standards/muldicat/vocabs/rdf/ses/.gitkeep
Owners: @RG-MULDICAT-editors

feat: optimize Nx configuration and enable typecheck caching
  .agent-os/config.yaml
  .github/workflows/pr-validation.yml
  .pnpmrc
  apps/admin/project.json
  apps/docs/project.json
  developer_notes/optimization-plan.md
  docs/admin-permission-matrix.md.bak
  nx-graph.json
  nx.json
  package.json
  pnpm-lock.yaml
  portal/project.json
  tools/workspace-preset.ts
Owners: none

feature tracking refinements and developer notes updates for mdx compatibility
  .agent-os/config.yaml
  .agent-os/standards/shared/development-workflow.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  apps/admin/CLAUDE.md
  developer_notes/CONFIGURATION_IMPROVEMENTS.md
  developer_notes/FEATURE_TRACKING.md
  developer_notes/admin-portal-authentication-architecture.md
  developer_notes/architectural-analysis-2025-07.md
  developer_notes/configuration-architecture.md
  developer_notes/current-scaffolding-plan.md
  developer_notes/development-best-practices-augmented.md
  developer_notes/documentation-best-practices.md
  developer_notes/prompts/system-architecture-prime-directive.md
  developer_notes/quick-reference.md
  developer_notes/theme/NAVBAR_INTEGRATION.md
  developer_notes/theme/configuration-consolidation.md
  package.json
  scripts/admin-feature-tracker.ts
Owners: none

fix: add critical git push restriction rule to CLAUDE.md
  CLAUDE.md
Owners: none

fix: resolve TypeScript errors in scripts project
  apps/admin/src/test/integration/clerk-auth-integration.test.ts
  apps/admin/src/test/integration/dashboard-access.test.ts
  apps/admin/src/test/integration/namespace-dashboard.test.ts
  apps/admin/src/test/integration/server-dependent/cross-site-auth.test.ts
  apps/admin/src/test/lib/mock-auth.test.ts
  docs/testing/phase-1-completion-report.md
  docs/testing/tag-update-plan.md
  e2e/e2e/visual/regression.e2e.spec.ts
  e2e/smoke/auth.smoke.spec.ts
  e2e/smoke/dashboard.smoke.spec.ts
  examples/tests/e2e-example.e2e.spec.ts
  packages/theme/src/tests/deployment/auth-keys.test.ts
  packages/theme/src/tests/deployment/ci-config.test.ts
  packages/theme/src/tests/deployment/env-deployment.test.ts
  scripts/admin-feature-tracker.ts
  scripts/auto-tag-tests-v2.ts
  scripts/auto-tag-tests.ts
  scripts/port-manager.test.ts
  scripts/pre-commit-check-smart.js
  scripts/project.json
  scripts/test/ai-provider-integration.test.ts
  scripts/test/apply-test-tags.test.js
  scripts/test/auto-tag-tests.test.ts
  scripts/test/batch-evaluation.test.ts
  scripts/test/error-handling.test.ts
  scripts/test/integration/end-to-end.test.ts
  scripts/test/integration/file-processing.test.ts
  scripts/test/integration/performance.test.ts
  scripts/test/integration/pre-commit-workflow.test.ts
  scripts/test/review-tracking.test.ts
  scripts/test/setup.ts
  scripts/test/tag-validation-rules.test.ts
  scripts/test/validate-test-tags.test.js
  scripts/validate-test-tag-rules.js
  scripts/validate-test-tagging.js
  test/port-manager.test.ts
  tests/visual-regression.spec.ts
Owners: none

feat: implement priority tag inference in auto-tagging systems
  scripts/auto-tag-tests-v2.ts
  scripts/auto-tag-tests.ts
  scripts/test/priority-tag-inference.test.ts
Owners: none

fix: update batch evaluation test to include required priority tag
  scripts/test/batch-evaluation.test.ts
Owners: none

chore: standardize dependency versions to "*" in monorepo packages
  apps/admin/package.json
  packages/eslint-config/package.json
  packages/theme/package.json
  pnpm-lock.yaml
Owners: none

feat: add missing test tags to complete 100% test coverage
  developer_notes/standards_development/isbdm/examples/__tests__/sensory-vocabulary-integration.test.tsx
  packages/theme/src/tests/components/Mandatory/Mandatory.test.tsx
  packages/theme/src/tests/components/QuickStart.test.tsx
Owners: none

fix: properly separate unit and integration tests in port-manager
  scripts/port-manager.integration.test.ts
  scripts/port-manager.test.ts
Owners: none

fix: move end-to-end test to proper e2e directory and correct tags
  scripts/test/e2e/tagging-workflow.e2e.test.ts
Owners: none

cleanup: remove old misplaced end-to-end test file
  scripts/test/integration/end-to-end.test.ts
Owners: none

fix: separate mixed test concerns in vocabulary-comparison-cli
  packages/theme/src/tests/scripts/vocabulary-comparison-cli.test.ts
  packages/theme/src/tests/utils/vocabulary-comparison-args.test.ts
Owners: none

fix: separate build validation from navbar component integration tests
  packages/theme/src/tests/config/navbar-theme-build.test.ts
  packages/theme/src/tests/config/navbarComponentIntegration.test.ts
Owners: none

fix: reorganize visual regression test structure and add missing UNIMARC tests
  tests/visual-regression.spec.ts
  tests/visual-regression.spec.ts-snapshots/frbr-docs.png
  tests/visual-regression.spec.ts-snapshots/frbr-homepage.png
  tests/visual-regression.spec.ts-snapshots/isbd-docs.png
  tests/visual-regression.spec.ts-snapshots/isbd-homepage.png
  tests/visual-regression.spec.ts-snapshots/isbdm-docs.png
  tests/visual-regression.spec.ts-snapshots/isbdm-homepage.png
  tests/visual-regression.spec.ts-snapshots/lrm-docs.png
  tests/visual-regression.spec.ts-snapshots/lrm-homepage.png
  tests/visual-regression.spec.ts-snapshots/muldicat-docs.png
  tests/visual-regression.spec.ts-snapshots/muldicat-homepage.png
  tests/visual-regression.spec.ts-snapshots/portal-docs.png
  tests/visual-regression.spec.ts-snapshots/portal-homepage.png
  tests/visual-regression.spec.ts-snapshots/unimarc-docs-shared-config.png
  tests/visual-regression.spec.ts-snapshots/unimarc-docs.png
  tests/visual-regression.spec.ts-snapshots/unimarc-homepage-shared-config.png
  tests/visual-regression.spec.ts-snapshots/unimarc-homepage.png
Owners: none

fix: resolve unit test failures across multiple packages
  package.json
  packages/dev-servers/src/state-manager.ts
  packages/standards-cli/package.json
  scripts/test/batch-evaluation.test.ts
Owners: none

docs: enhance development documentation and workflows
  AGENTS.md
  developer_notes/COMPLETE_FEATURE_FACTORY_WORKFLOW.md
  developer_notes/FEATURE_FACTORY_QUICK_REFERENCE.md
  developer_notes/FEATURE_WORKFLOWS_BY_TYPE.md
  developer_notes/REFINE_INFERENCER_WORKFLOW.md
  developer_notes/REFINE_RESOURCE_METADATA_PATTERN.md
  developer_notes/REFINE_SCAFFOLD_ENHANCER.md
  developer_notes/SPECIALIZED_SUBAGENTS_DESIGN.md
  developer_notes/SUBAGENT_SPECIFICATIONS.md
  developer_notes/TDD_WITH_REFINE_GENERATORS.md
  developer_notes/TDD_WORKFLOW.md
  developer_notes/TESTING_STRATEGY_V2.md
  developer_notes/WORKFLOW_TESTING_EMPHASIS.md
  developer_notes/prompts/ai-brief-feature-factory-v3.md
  developer_notes/prompts/ai-brief-feature-factory.md
Owners: none

fix: resolve Docusaurus MDX parsing issues with angle brackets
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/src/pages/index.tsx
  apps/docs/src/plugins/remark-jsx-sanitizer.js
  developer_notes/.docusaurusignore
  developer_notes/test-mdx-override.md
  examples/tests/integration-example.integration.spec.ts
  examples/tests/unit-example.test.ts
  package.json
  pnpm-lock.yaml
Owners: none

feat: enhance admin environment management with multi-tier testing setup
  apps/admin/docs/environment-testing-setup.md
  apps/admin/docs/supabase-local-reference.md
  apps/admin/package.json
  apps/admin/scripts/switch-env.sh
  apps/admin/src/config/environment.ts
  apps/admin/supabase/.gitignore
  apps/admin/supabase/config.toml
Owners: none

refactor: enhance admin app with comprehensive config and code quality improvements
  apps/admin/docs/environment-config-migration.md
  apps/admin/eslint.config.mjs
  apps/admin/src/app/(authenticated)/dashboard/PersonalDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/pending/PendingDashboard.tsx
  apps/admin/src/app/api/webhooks/clerk/route.ts
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/lib/role-based-routing.ts
  apps/admin/src/app/test-clerk/page.tsx
  apps/admin/src/components/layout/Navbar.tsx
  apps/admin/src/config/environment.ts
  apps/admin/src/lib/clerk-github-auth.ts
  apps/admin/src/lib/config.ts
  apps/admin/src/lib/supabase/client.ts
  apps/admin/src/providers/RefineProvider.tsx
  packages/eslint-config/configs/next.mjs
  packages/eslint-config/package.json
  pnpm-lock.yaml
Owners: none

refactor: comprehensive code quality and consistency improvements across admin app
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/NamespaceManagementClient.tsx
  apps/admin/src/app/(authenticated)/dashboard/author/namespaces/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/author/projects/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/author/review/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/author/translation/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/editor/namespaces/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/editor/projects/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/editor/review/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/editor/translation/page.tsx
  apps/admin/src/app/(authenticated)/import/ImportWorkflow.tsx
  apps/admin/src/app/(authenticated)/namespaces/NamespacesList.tsx
  apps/admin/src/app/(authenticated)/namespaces/[namespace]/NamespaceDashboard.tsx
  apps/admin/src/app/(authenticated)/namespaces/[namespace]/page.tsx
  apps/admin/src/app/(authenticated)/namespaces/page.tsx
  apps/admin/src/app/(authenticated)/profiles/ProfilesManager.tsx
  apps/admin/src/app/layout.tsx
  apps/admin/src/app/not-found.tsx
  apps/admin/src/components/accessibility/LiveRegion.tsx
  apps/admin/src/components/dashboard/admin/AdminActivityPage.tsx
  apps/admin/src/components/dashboard/admin/AdminNamespacesPage.tsx
  apps/admin/src/components/dashboard/rg/RGActivityPage.tsx
  apps/admin/src/components/dashboard/shared/ActivityPage.tsx
  apps/admin/src/components/dashboard/shared/NamespacesPage.tsx
  apps/admin/src/components/dashboard/shared/ProjectsPage.tsx
  apps/admin/src/components/dashboard/shared/ReviewPage.tsx
  apps/admin/src/components/dashboard/shared/TranslationPage.tsx
  apps/admin/src/components/version/VersionComparison.tsx
  apps/admin/src/components/version/VersionManager.tsx
  apps/admin/src/components/vocabulary/SpreadsheetViewer.tsx
  apps/admin/src/components/welcome/RequestInviteButton.tsx
  apps/admin/src/test/mocks/components.tsx
Owners: none

feat: implement comprehensive automated TDD workflow with 5-phase testing strategy
  AGENTS.md
  TDD_INTEGRATION_SUMMARY.md
  apps/admin/src/config/__tests__/environment.test.ts
  apps/admin/src/config/environment.ts
  apps/admin/src/test/examples/tdd-workflow-example.ts
  developer_notes/AUTOMATED_TDD_WORKFLOW.md
  developer_notes/prompts/automated-tdd-agent-prompts.md
Owners: none

test: add required @admin feature area tag to environment test
  apps/admin/src/config/__tests__/environment.test.ts
Owners: none

docs: add comprehensive Refine.dev integration guide for contract-driven UI generation
  developer_notes/REFINE_INTEGRATION_GUIDE.md
Owners: none

docs: consolidate TDD workflow documentation with comprehensive guide
  AGENTS.md
  apps/admin/.gitignore
  developer_notes/AUTOMATED_TDD_WORKFLOW.md
  developer_notes/SUBAGENT_IMPLEMENTATION_GUIDE.md
  developer_notes/SUBAGENT_SPECIFICATIONS.md
  developer_notes/TDD_WORKFLOW.md
  developer_notes/TDD_WORKFLOW_INTEGRATION_COMPLETE.md
  developer_notes/TESTING_STRATEGY_V2.md
  developer_notes/WORKFLOW_TESTING_EMPHASIS.md
  standards/FRBR/docusaurus.config.ts
Owners: none

.github/CODEOWNERS:

/standards/ISBDM/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/LRM/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors
/standards/isbd/** @RG-ISBD-editors


/standards/test/** @RG-TEST-editors
