Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors

.github/CODEOWNERS:

/standards/isbdm/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/lrm/** @RG-LRM-editors
/standards/lrm/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors

Update dashboard-protection.e2e.test.ts for Clerk authentication (REDESIGN)
  e2e/admin/dashboard-protection.e2e.test.ts
Owners: none

Add Clerk authentication helpers for E2E tests
  e2e/utils/clerk-auth-helpers.ts
Owners: none

Rewrite auth.e2e.test.ts for Clerk authentication (REDESIGN)
  e2e/admin/auth.e2e.test.ts
Owners: none

test(e2e): migrate admin portal E2E to Clerk & new dashboard
  developer_notes/current-e2e-guidelines.md
  packages/theme/src/config/index.ts
Owners: none

feat(e2e): implement Nx-optimized E2E testing framework with atomic tag-based tests
  developer_notes/E2E_QUICK_REFERENCE.md
  developer_notes/E2E_TESTING_FRAMEWORK_GUIDE.md
  developer_notes/NX_E2E_IMPLEMENTATION_PLAN.md
  e2e/fixtures/database.fixture.ts
  e2e/fixtures/test-data.fixture.ts
  e2e/integration/admin-flows.integration.spec.ts
  e2e/integration/cross-service.integration.spec.ts
  e2e/integration/rbac.integration.spec.ts
  e2e/playwright/integration-setup.ts
  e2e/playwright/integration-teardown.ts
  e2e/reporters/ci-metrics.ts
  e2e/reporters/flaky-detector.ts
  e2e/smoke/api-health.smoke.spec.ts
  e2e/smoke/auth.smoke.spec.ts
  e2e/smoke/dashboard.smoke.spec.ts
  e2e/utils/tagged-test.ts
  e2e/utils/test-categorizer.ts
  e2e/utils/test-runner.ts
  e2e/utils/test-tags.ts
  nx.json
  package.json
  playwright.config.base.ts
  playwright.config.ci.ts
  playwright.config.e2e.ts
  playwright.config.integration.ts
  playwright.config.smoke.ts
  playwright.config.ts
  project.json
  scripts/list-test-commands.js
Owners: none

feat(e2e): configure Chrome-only default with multi-browser testing on demand
  developer_notes/BROWSER_TESTING_IMPLEMENTATION_SUMMARY.md
  developer_notes/E2E_QUICK_REFERENCE.md
  developer_notes/E2E_TESTING_FRAMEWORK_GUIDE.md
  package.json
  playwright.config.base.ts
  playwright.config.browsers.ts
  playwright.config.ci.ts
  playwright.config.e2e.ts
  playwright.config.integration.ts
  playwright.config.smoke.ts
  project.json
Owners: none

refactor(e2e): migrate all E2E and integration tests to new framework structure
  developer_notes/E2E_TEST_INVENTORY.md
  e2e/e2e/admin/superadmin-dashboard.e2e.spec.ts
  e2e/e2e/performance/load-testing.e2e.spec.ts
  e2e/e2e/standards/isbdm-sensory-vocabulary.e2e.spec.ts
  e2e/e2e/visual/regression.e2e.spec.ts
  e2e/integration/build-validation.integration.spec.ts
  e2e/integration/site-validation.integration.spec.ts
  e2e/interactive-headless-handoff.spec.ts
  e2e/performance.spec.ts
  e2e/simple-handoff.spec.ts
  e2e/site-validation-affected.spec.ts
  e2e/site-validation.spec.ts
  e2e/smoke/portal.smoke.spec.ts
  e2e/smoke/standards.smoke.spec.ts
  e2e/standards-smoke-affected.spec.ts
  e2e/visual-regression-enhanced.spec.ts
Owners: none

feat(e2e): Set up Clerk authentication for E2E tests
  .gitignore
  developer_notes/CLERK_AUTHENTICATION_TESTING.md
  e2e/e2e/admin/dashboard.auth.spec.ts
  e2e/global-setup.ts
  e2e/utils/clerk-auth.ts
  package.json
  playwright.config.base.ts
  pnpm-lock.yaml
  system-design-docs/06-testing-strategy.md
Owners: none

feat: comprehensive testing guide and documentation updates
  CONTRIBUTING.md
  README.md
  developer_notes/AI_TESTING_GUIDE_PLAN.md
  developer_notes/AI_TESTING_INSTRUCTIONS.md
  developer_notes/README.md
  developer_notes/TESTING_STRATEGY.md
  e2e/utils/test-tags.ts
  examples/tests/e2e-example.e2e.spec.ts
  examples/tests/env-example.env.spec.ts
  examples/tests/integration-example.integration.spec.ts
  examples/tests/unit-example.test.ts
  scripts/scaffold-template/README.md
Owners: none

fix: correct test-server-manager to use proper dev-servers API
  docs/testing/tag-update-plan.md
  scripts/test-server-manager.ts
Owners: none

feat: migrate to ESLint flat config with improved Nx integration
  ESLINT-FIXES-TODO.md
  apps/admin/.eslintignore
  eslint.config.mjs
  package.json
  packages/theme/project.json
  portal/project.json
  project.json
  scripts/lint-affected-fix-dry-run.js
  scripts/pre-commit-check-optimized.js
  standards/FRBR/project.json
  standards/ISBDM/project.json
  standards/LRM/project.json
  standards/isbd/project.json
  standards/muldicat/project.json
  standards/newtest/project.json
  standards/unimarc/project.json
  tools/sheet-sync/project.json
  tools/typescript/rdf-converters/.eslintignore
  tools/typescript/rdf-converters/.eslintrc.js
Owners: @RG-MULDICAT-editors, @RG-UNIMARC-editors

fix: resolve all React unescaped entities linting errors
  apps/admin/src/app/(authenticated)/dashboard/PersonalDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/RoleBasedDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/page.tsx
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/AdoptSpreadsheetForm.tsx
  apps/admin/src/app/(authenticated)/dashboard/admin/adopt-spreadsheet/AdoptSpreadsheetFormV2.tsx
  apps/admin/src/app/(authenticated)/dashboard/pending/PendingDashboard.tsx
  apps/admin/src/app/(authenticated)/import/ImportWorkflow.tsx
  apps/admin/tsconfig.json
  package.json
  pnpm-lock.yaml
  standards/muldicat/src/pages/index.tsx
Owners: @RG-MULDICAT-editors

refactor: consolidate and streamline testing documentation
  CLAUDE.md
  apps/admin/README.md
  developer_notes/BROWSER_TESTING_IMPLEMENTATION_SUMMARY.md
  developer_notes/E2E_TESTING_FRAMEWORK_GUIDE.md
  developer_notes/IFLA-Standards-Testing-Guide.md
  developer_notes/NEXTJS_CODING_STANDARDS.MD
  developer_notes/TESTING.md
  developer_notes/TESTING_CONSOLIDATION_SUMMARY.md
  developer_notes/TESTING_DOCUMENT_ANALYSIS.md
  developer_notes/TESTING_QUICK_REFERENCE.md
  developer_notes/Testing-Guide-Rollout-Plan.md
  developer_notes/Testing-Standards-Compliance-Plan.md
  developer_notes/admin-portal-testing.md
  developer_notes/admin-test-strategy.md
  developer_notes/build-regression-testing.md
  developer_notes/cross-site-auth-e2e-test-implementation.md
  developer_notes/dual-ci-architecture.md
  developer_notes/testing-vocabulary-pages.md
  developer_notes/theme/TEST_ADDITION_SUMMARY.md
  developer_notes/vocabulary-comparison-testing.md
  packages/theme/src/components/VocabularyTable/readme.md
  scripts/README.md
  standards/ISBDM/docs/TEST-IMPROVEMENTS-GUIDE.md
  system-design-docs/06-testing-strategy.md
Owners: none

fix: resolve Nx distributed build partition flag errors
  developer_notes/TEST_COVERAGE_IMPROVEMENT_PLAN.md
  packages/standards-cli/build.sh
  packages/standards-cli/package.json
  packages/theme/build.sh
  packages/theme/project.json
Owners: none

fix: remove all Cerbos-related code and dependencies
  .github/workflows/ci-env-only.yml
  .github/workflows/nx-optimized-preview.yml
  .github/workflows/nx-optimized-production.yml
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/page.tsx
  apps/admin/src/app/(authenticated)/namespaces/[namespace]/page.tsx
  apps/admin/src/app/(authenticated)/namespaces/page.tsx
  apps/admin/src/app/api/actions/scaffold-from-spreadsheet/__tests__/route.integration.test.ts
  apps/admin/src/app/api/actions/scaffold-from-spreadsheet/route.ts
  apps/admin/src/app/api/admin/namespace/[namespace]/pending-spreadsheets/route.ts
  apps/admin/src/app/api/admin/roles/route.ts
  apps/admin/src/app/api/admin/users/route.ts
  apps/admin/src/lib/auth.ts
  apps/admin/src/lib/authorization.ts
  apps/admin/src/lib/cerbos.ts
  apps/admin/src/lib/clerk-cerbos.ts
  apps/admin/src/test/lib/cerbos.test.ts
  apps/admin/src/test/setup.ts
  apps/admin/src/test/utils/mock-clerk-auth.ts
  packages/theme/src/tests/deployment/auth-keys.test.ts
  packages/theme/src/tests/deployment/ci-config.test.ts
Owners: none

feat: add manual trigger capability to CI Environment Tests workflow
  .github/workflows/ci-env-only.yml
Owners: none

fix: temporarily disable E2E smoke tests in CI
  .github/workflows/phase-smoke-tests.yml
Owners: none

fix: add Preview environment to CI workflows for environment secrets
  .github/workflows/ci-env-only.yml
  .github/workflows/nx-optimized-preview.yml
  .github/workflows/phase-smoke-tests.yml
Owners: none

feat: add Clerk authentication environment variables to CI
  .github/workflows/ci-env-only.yml
  .github/workflows/nx-optimized-preview.yml
  packages/theme/src/tests/deployment/auth-keys.test.ts
Owners: none

fix: update smoke tests to test against deployed sites
  .cerbos-hub.yaml
  .github/workflows/phase-smoke-tests.yml
  .github/workflows/smoke-tests-post-deploy.yml
  apps/admin/src/app/(authenticated)/dashboard/AdminDashboard.tsx
  apps/admin/src/app/(authenticated)/dashboard/[siteKey]/page.tsx
  apps/admin/src/lib/test-helpers/api-mocks.ts
  apps/admin/src/lib/test-helpers/mock-data.ts
  apps/admin/src/lib/test-helpers/server-manager.ts
  apps/admin/src/test/components/NamespaceManagementClient.test.tsx
  apps/admin/src/test/integration/server-dependent/admin-startup-test.test.ts
  apps/admin/src/test/integration/server-dependent/basic-server-test.test.ts
  apps/admin/src/test/integration/server-dependent/cors-integration.test.ts
  apps/admin/src/test/integration/server-dependent/cross-site-auth.test.ts
  apps/admin/src/test/integration/server-dependent/spawn-test.test.ts
  apps/admin/src/test/lib/namespace-permissions.test.ts
  apps/admin/src/test/lib/rbac.test.ts
  apps/admin/src/test/lib/review-group-authorization.test.ts
  cerbos/.cerbos-hub.yaml
  cerbos/_schemas/principal.json
  cerbos/_schemas/rg.json
  cerbos/_schemas/site.json
  cerbos/_schemas/translation.json
  cerbos/_schemas/user_admin.json
  cerbos/policies/admin_authorization.yaml
  cerbos/policies/derived_roles.yaml
  cerbos/policies/resource_api.yaml
  cerbos/policies/resource_user_admin.yaml
  cerbos/policies/resource_vocabulary.yaml
  e2e/performance.spec.ts
  e2e/smoke/api-health.smoke.spec.ts
  e2e/smoke/standards.smoke.spec.ts
  e2e/visual-regression.spec.ts
  package.json
Owners: none

chore: update lockfile after removing Cerbos dependencies
  pnpm-lock.yaml
Owners: none

fix: remove unsupported --partition flag from CI workflow
  .github/workflows/nx-optimized-preview.yml
  package.json
  pnpm-lock.yaml
Owners: none

fix: update Supabase URL and GitHub ID format validations in tests
  packages/theme/src/tests/deployment/auth-keys.test.ts
Owners: none

feat: replace vulnerable xlsx with secure ExcelJS implementation
  .claudedocs/unified-spreadsheet-api-design.md
  .claudedocs/unified-spreadsheet-api-spec.md
  .claudedocs/xlsx-alternatives-analysis.md
  .claudedocs/xlsx-migration-tasks.md
  package.json
  packages/unified-spreadsheet/package.json
  packages/unified-spreadsheet/project.json
  packages/unified-spreadsheet/src/adapters/csv-adapter.ts
  packages/unified-spreadsheet/src/adapters/exceljs-adapter.ts
  packages/unified-spreadsheet/src/adapters/google-sheets-adapter.ts
  packages/unified-spreadsheet/src/dctap/dctap-validator.ts
  packages/unified-spreadsheet/src/index.ts
  packages/unified-spreadsheet/src/types.ts
  packages/unified-spreadsheet/src/unified-spreadsheet.test.ts
  packages/unified-spreadsheet/src/unified-spreadsheet.ts
  packages/unified-spreadsheet/tsconfig.json
  packages/unified-spreadsheet/vite.config.ts
  pnpm-lock.yaml
  scripts/spreadsheet-api.ts
  scripts/tsconfig.json
  tsconfig.json
Owners: none

test-rdf-pipeline
  .test-rdf-pipeline/step1-rdf-output.csv
  .test-rdf-pipeline/step2-workbook.xlsx
  .test-rdf-pipeline/step3-csv-from-xlsx.csv
  .test-rdf-pipeline/test-report.json
Owners: none

fix: resolve integration test server startup hang issue
  apps/admin/CLAUDE.md
  apps/admin/project.json
  developer_notes/SERVER_DEPENDENT_TESTING.md
  packages/unified-spreadsheet/project.json
Owners: none

fix: resolve MaxListenersExceededWarning and timeout issues in pre-push tests
  scripts/pre-push-check.js
  scripts/run-site-tests.js
Owners: none

fix: ensure git hooks are properly installed and run before commits
  package.json
  scripts/ensure-git-hooks.js
Owners: none

feat: implement centralized ESLint configuration strategy
  ESLINT_IMPLEMENTATION_SUMMARY.md
  apps/admin/eslint.config.mjs
  developer_notes/ESLINT_SETUP_GUIDE.md
  developer_notes/ESLINT_STRATEGY.md
  developer_notes/PRECOMMIT_ESLINT_SETUP.md
  eslint.config.mjs
  package.json
  packages/eslint-config/.eslintrc.lint-staged.json
  packages/eslint-config/README.md
  packages/eslint-config/configs/base.mjs
  packages/eslint-config/configs/docusaurus.mjs
  packages/eslint-config/configs/next.mjs
  packages/eslint-config/configs/react.mjs
  packages/eslint-config/configs/test.mjs
  packages/eslint-config/configs/typescript.mjs
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
  packages/eslint-config/project.json
  packages/eslint-config/tsconfig.eslint.json
  packages/eslint-config/utils/ignore-patterns.mjs
  packages/theme/eslint.config.mjs
  portal/eslint.config.mjs
  scripts/lint-commands.mjs
  tools/sheet-sync/eslint.config.mjs
Owners: none

fix: correct E2E test file paths and resolve regex syntax errors
  scripts/run-site-tests.js
Owners: none

fix: comprehensive EventEmitter memory leak resolution
  scripts/ensure-nx-daemon.js
  scripts/pre-push-check.js
  scripts/run-site-tests.js
Owners: none

docs: add git hook setup instructions
  developer_notes/TYPECHECK_RELIABILITY_GUIDE.md
Owners: none

fix: implement comprehensive typecheck reliability improvements
  .gitignore
  developer_notes/TYPECHECK_RELIABILITY_GUIDE.md
  nx.json
  output.json
  package.json
  pnpm-lock.yaml
  scripts/clean-typecheck-markers.js
  scripts/fix-typecheck-config.js
  scripts/mark-typecheck-complete.js
  scripts/typecheck-clean.js
  scripts/typecheck-diagnose.js
Owners: none

fix: ensure all test scripts use --skip-nx-cache as required by CLAUDE.md
  package.json
  scripts/pre-commit-check-optimized.js
  scripts/pre-commit-check.js
  scripts/pre-push-check.js
  scripts/test-with-daemon.js
Owners: none

fix: exclude Next.js build types from TypeScript checking
  .prepushrc.json
  apps/admin/tsconfig.json
Owners: none

fix: eliminate MaxListenersExceededWarning with comprehensive event handling
  scripts/ensure-nx-daemon.js
  scripts/pre-push-check.js
  scripts/run-site-tests.js
Owners: none

fix: resolve E2E test regex syntax errors and correct test utility imports
  apps/admin/tsconfig.json
  e2e/integration/site-validation.integration.spec.ts
  packages/eslint-config/configs/docusaurus.mjs
  pnpm-lock.yaml
  scripts/run-site-tests.js
Owners: none

feat: revamp CI/CD pipeline with optimized deployment workflows
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-production.yml
  scripts/api-health-checks.js
  scripts/collect-build-artifacts.js
  scripts/validate-docusaurus-configs.js
Owners: none

feat: complete xlsx to ExcelJS migration with integration-first testing
  .gitignore
  CLAUDE.md
  developer_notes/AI_TESTING_INSTRUCTIONS.md
  developer_notes/TESTING_QUICK_REFERENCE.md
  developer_notes/TEST_TEMPLATES.md
  developer_notes/XLSX_TO_EXCELJS_MIGRATION.md
  packages/unified-spreadsheet/README.md
  packages/unified-spreadsheet/src/adapters/csv-adapter.ts
  packages/unified-spreadsheet/src/adapters/exceljs-adapter.ts
  packages/unified-spreadsheet/src/types.ts
  packages/unified-spreadsheet/src/unified-spreadsheet.test.ts
  packages/unified-spreadsheet/src/unified-spreadsheet.ts
  packages/unified-spreadsheet/tests/integration/csv-adapter.integration.test.ts
  packages/unified-spreadsheet/tests/integration/exceljs-adapter.integration.test.ts
  packages/unified-spreadsheet/tests/integration/unified-spreadsheet.integration.test.ts
  packages/unified-spreadsheet/vitest.config.ts
  scripts/test-rdf-pipeline.ts
Owners: none

fix: update ESLint rules for MDX compatibility and document configuration verification
  ESLINT_VERIFICATION_REPORT.md
  packages/eslint-config/configs/docusaurus.mjs
  packages/eslint-config/configs/typescript.mjs
Owners: none
