Repository iflastandards/platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RG-ISBDM-editors, @RG-FR-editors, @RG-UNIMARC-editors, @RG-LRM-editors, @RG-MULDICAT-editors, @RG-ISBD-editors, @RG-TEST-editors

fix: exclude lock files from prettier formatting
  .prettierignore
Owners: none

feat(nx): optimize package dependency tracking to prevent unnecessary rebuilds
  nx-package-optimization.md
  nx.json
  packages/contracts/project.json
  packages/theme/project.json
  scripts/optimize-site-configs.js
  standards/FRBR/project.json
  standards/ISBDM/project.json
  standards/LRM/project.json
  standards/isbd/project.json
  standards/muldicat/project.json
  standards/newtest/project.json
  standards/unimarc/project.json
Owners: @RG-ISBDM-editors, @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

docs: add Nx Cloud optimization plan
  nx-cloud-optimization-plan.md
Owners: none

feat(ci): enable Nx Cloud flaky task management and improve AI diagnostics
  .github/workflows/pr-validation.yml
  nx-features-analysis.md
  nx-optimization-results.md
Owners: none

feat(ci): Phase 2 - test distributed execution with minimal scope
  .github/workflows/pr-validation.yml
  nx-phase2-implementation.md
Owners: none

fix(hooks): add prettier formatting to pre-commit hook
  .husky/pre-commit
Owners: none

fix(hooks): run prettier formatting after all checks pass, not before
  .husky/pre-commit
Owners: none

style: apply prettier formatting to all files
  packages/contracts/project.json
  packages/supabase-types/src/database.ts
  scripts/optimize-site-configs.js
  standards/FRBR/project.json
  standards/ISBDM/project.json
  standards/LRM/project.json
  standards/isbd/project.json
  standards/muldicat/project.json
  standards/newtest/project.json
  standards/unimarc/project.json
Owners: @RG-ISBDM-editors, @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

fix(ci): increase agent count to 3 (Nx Cloud minimum requirement)
  .github/workflows/pr-validation.yml
  nx-phase2-implementation.md
Owners: none

docs: add comprehensive distributed execution rollout plan
  nx-distributed-execution-rollout-plan.md
Owners: none

fix(ci): remove --ci flag from lint command for ESLint flat config compatibility
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): align check-links schedule with lighthouse and require successful deployment
  .github/workflows/check-links.yml
Owners: none

perf(nx): remove workflow files from cache inputs to prevent unnecessary invalidation
  nx.json
Owners: none

style: apply prettier formatting to check-links.yml and update database types timestamp
  .github/workflows/check-links.yml
  packages/supabase-types/src/database.ts
Owners: none

feat(ci): Phase 3 - enable distributed execution for all PR validation targets
  .github/workflows/pr-validation.yml
Owners: none

fix(ci): Phase 3 - consolidate to single job to fix agent coordination
  .github/workflows/pr-validation.yml
Owners: none

style: format pr-validation.yml with prettier
  .github/workflows/pr-validation.yml
Owners: none

Feat/nx distributed execution phase2 (#186)
  .github/workflows/check-links.yml
  .github/workflows/check-warnings.yml
  .github/workflows/nx-optimized-docs-deploy.yml
  .github/workflows/pr-validation.yml
  .husky/pre-commit
  .prettierignore
  developer_notes/REFINE_RESOURCE_METADATA_PATTERN.md
  developer_notes/nx-cloud-setup.md
  docs/nx-workflow-optimizations.md
  nx-cloud-optimization-plan.md
  nx-distributed-execution-rollout-plan.md
  nx-features-analysis.md
  nx-optimization-results.md
  nx-package-optimization.md
  nx-phase2-implementation.md
  nx.json
  package.json
  packages/clients/package.json
  packages/contracts/package.json
  packages/contracts/project.json
  packages/fixtures/package.json
  packages/supabase-types/src/database.ts
  packages/theme/project.json
  pnpm-lock.yaml
  scripts/extract-build-warnings.js
  scripts/nx-performance-check.js
  scripts/optimize-site-configs.js
  scripts/scaffold-template/blog/authors.yml
  scripts/validate-yaml.js
  standards/FRBR/project.json
  standards/ISBDM/project.json
  standards/LRM/project.json
  standards/isbd/project.json
  standards/muldicat/project.json
  standards/newtest/project.json
  standards/unimarc/project.json
  system-design-docs/06-testing-strategy.md
Owners: @RG-ISBDM-editors, @RG-LRM-editors, @RG-ISBD-editors, @RG-MULDICAT-editors, @RG-UNIMARC-editors

fix(rdf-converters): use npx tsx for CI compatibility in tests
  tools/typescript/rdf-converters/tests/rdf-folder-to-csv.test.ts
  tools/typescript/rdf-converters/tests/rdf-to-csv.test.ts
Owners: none

fix(scripts): prevent interactive prompt in CI for link checker
  scripts/check-links.js
Owners: none

fix(ci): install Playwright browsers in check-links workflow
  .github/workflows/check-links.yml
Owners: none

fix(scripts): treat broken links as warnings in build collection
  scripts/collect-warnings-parallel.js
Owners: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Owners: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Owners: none

style: format GitHub workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  package.json
  scripts/collect-warnings-parallel.js
Owners: none

Add Claude Code GitHub Workflow (#422)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  package.json
  scripts/collect-warnings-parallel.js
Owners: none

fix: correct italics placement in example reference
  standards/ISBDM/docs/assess/index.mdx
Owners: @RG-ISBDM-editors

Update examples and remove redundant lines (#92)
  standards/ISBDM/docs/assess/index.mdx
Owners: @RG-ISBDM-editors

fix(ci): handle null warning count in PR validation workflow
  .github/workflows/pr-validation.yml
Owners: none

feat(scripts): only update Supabase types file when content actually changes
  scripts/generate-supabase-types.js
Owners: none

perf(hooks): optimize pre-push by leveraging Nx cache intelligence
  CLAUDE.md
  scripts/pre-push-check.js
Owners: none

chore: apply auto-formatting and regenerate supabase types
  packages/supabase-types/src/database.ts
  scripts/generate-supabase-types.js
  scripts/pre-push-check.js
Owners: none

docs: add branch protection configuration documentation
  developer_notes/BRANCH_PROTECTION_CONFIGURATION.md
Owners: none

feat: add Dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Owners: none

feat: integrate link validation into CI with nx affected optimization
  .github/workflows/check-links.yml
  developer_notes/LINK_VALIDATION_CI_INTEGRATION.md
  developer_notes/README.md
  developer_notes/link-validation.md
  portal/docs/guides/components/examples.mdx
  portal/docs/guides/components/inlink.mdx
  portal/docs/guides/components/see-also.mdx
  portal/docs/guides/components/steps.mdx
  portal/docs/guides/index.mdx
  portal/docs/guides/profiles/examples/README.md
  scripts/check-links.js
Owners: none

docs: add Nx Cloud AI diagnostics documentation and fix workflow YAML
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/nx-optimized-docs-deploy.yml
  developer_notes/NX_OPTIMIZATIONS_APPLIED.md
  scripts/generate-supabase-types.js
Owners: none

feat(link-validation): use sitemap.xml as page list with comprehensive link checking
  scripts/validate-environment-urls.js
Owners: none

style: format generate-supabase-types.js for consistency
  scripts/generate-supabase-types.js
Owners: none

docs: add sitemap HTML page enhancement plan
  developer_notes/SITEMAP_ENHANCEMENT.md
Owners: none

style: apply prettier formatting to validate-environment-urls.js
  scripts/validate-environment-urls.js
Owners: none

.github/CODEOWNERS:

/standards/ISBDM/** @RG-ISBDM-editors
/standards/fr/** @RG-FR-editors
/standards/unimarc/** @RG-UNIMARC-editors
/standards/LRM/** @RG-LRM-editors
/standards/muldicat/** @RG-MULDICAT-editors
/standards/isbd/** @RG-ISBD-editors


/standards/test/** @RG-TEST-editors
